@using Domain.ViewModel.User;
@model RegisterUserVM

@{
    ViewData["Title"] = "Kullanıcı Kayıt Ol";
}

<div class="container registertopmargin">
    <div style="margin-top:40px;">
        <div class="row farmabuttons">
            <div class="col-lg-3" style="transform: skewX(-20deg); margin-right: 5px;">
                <a href="@Url.Action("RegisterUser","Account")" class="thm-btn bg-clr1" style="padding:10px;">
                    <h1 class="text-center registerpharmacys">İş Arayan Kaydı</h1>
                </a>
            </div>
            <div class="col-lg-3" style="transform: skewX(-20deg); margin-left: 5px;">
                <a href="@Url.Action("RegisterPharmacy","Account")" class="thm-btn bg-clr1 logbtn" style="padding:10px;">
                    <h1 class="text-center registerpharmacys">İşveren Kaydı</h1>
                </a>
            </div>
        </div>

    </div>
    <style>
        .logbtn {
            opacity: 0.7;
        }

            .logbtn:hover {
                opacity: 1;
            }
    </style>
    <div class="clearfix"></div>
    <section style=" margin-top: 35px;">
        <div class="row">
            <form class="contact-bx" method="post" asp-controller="Account" id="passwordForm" asp-action="RegisterUser">
                <div class="text-center">
                    <div class="heading-bx left" style="margin-bottom:0;">

                        <h2 class="title-head" style="font-size:34px;">
                            <span style="color:black;">Hemen</span>
                            <span>Kayıt Olun</span>
                        </h2>
                        <p>
                            Zaten Hesabınız Var mı ?
                            <a href="@Url.Action("LoginUser","Account")" class="cr">
                                Hemen Giriş Yap
                            </a>
                        </p>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div>
                        <div class="account-container">
                            <div class="row placeani">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input asp-for="Name" value="@Model?.Name" type="text" placeholder="Adınız" class="form-control" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input asp-for="Surname" value="@Model?.Surname" type="text" placeholder="Soyadınız" class="form-control" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <div style="display:flex;">
                                            <input type="text" placeholder="Doğum Tarihiniz" class="form-control" style="background-color:white; height:50px; border-radius:0;" readonly>
                                            <select id="dobday" class="input-group" name="BirthDateDay" required></select>
                                            <select id="dobmonth" class="input-group" name="BirthDateMonth" required></select>
                                            <select id="dobyear" class="input-group" name="BirthDateYear" required></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input asp-for="PhoneNumber" value="@Model?.PhoneNumber" type="text" placeholder="Telefon Numaranız" class="form-control" id="phoneNumber" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <select asp-for="Province" id="Iller" class="input-group" name="Province" required>
                                            <option disabled value="0">İl Seçiniz</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <select asp-for="District" id="Ilceler" class="input-group" name="District" required>
                                            <option disabled value="0">Lütfen Önce bir İl seçiniz</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group textareaform">
                                        <textarea asp-for="Address" value="@Model?.Address" class="form-control" rows="5" value="" placeholder="Açık Adresiniz..." required></textarea>
                                    </div>
                                </div>
                                <style>
                                    select {
                                        border-width: 0 0 2px;
                                        border-color: rgba(0,0,0,.2);
                                        padding: 10px 0;
                                    }

                                    .textareaform textarea {
                                        border-left: none;
                                        border-right: none;
                                        border-top: none;
                                        border-width: 0 0 2px;
                                        border-color: rgba(0,0,0,.2) !important;
                                        min-height: 100px;
                                        padding-left: 0 !important;
                                        min-width: 100%;
                                        max-width: 100%;
                                        color: #848484;
                                    }

                                        .textareaform textarea:focus {
                                            border-color: red !important;
                                        }

                                    select:focus {
                                        border-color: red;
                                    }
                                </style>
                                @section Scripts {
                                    <script src="~/scripts/ililce.js" province="@(Model?.Province ?? "34")" district="@(Model?.District ?? "1")"></script> <!--il-ilçe-script-->
                                    <!--datepicker-->
                                    <script src="~/scripts/dobpicker.js"></script>
                                    <script>
                                        $(document).ready(function () {
                                            $.dobPicker({
                                                daySelector: '#dobday', /* Required */
                                                monthSelector: '#dobmonth', /* Required */
                                                yearSelector: '#dobyear', /* Required */
                                                dayDefault: 'Gün', /* Optional */
                                                monthDefault: 'Ay', /* Optional */
                                                yearDefault: 'Yıl', /* Optional */
                                                minimumAge: 18, /* Optional */
                                                maximumAge: 80 /* Optional */
                                            });
                                        });
                                    </script>
                                    <script>
                                        const isNumericInput = (event) => {
                                            const key = event.keyCode;
                                            return ((key >= 48 && key <= 57) || // Allow number line
                                                (key >= 96 && key <= 105) // Allow number pad
                                            );
                                        };

                                        const isModifierKey = (event) => {
                                            const key = event.keyCode;
                                            return (event.shiftKey === true || key === 35 || key === 36) || // Allow Shift, Home, End
                                                (key === 8 || key === 9 || key === 13 || key === 46) || // Allow Backspace, Tab, Enter, Delete
                                                (key > 36 && key < 41) || // Allow left, up, right, down
                                                (
                                                    // Allow Ctrl/Command + A,C,V,X,Z
                                                    (event.ctrlKey === true || event.metaKey === true) &&
                                                    (key === 65 || key === 67 || key === 86 || key === 88 || key === 90)
                                                )
                                        };

                                        const enforceFormat = (event) => {
                                            // Input must be of a valid number format or a modifier key, and not longer than ten digits
                                            if (!isNumericInput(event) && !isModifierKey(event)) {
                                                event.preventDefault();
                                            }
                                        };

                                        const formatToPhone = (event) => {
                                            if (isModifierKey(event)) { return; }

                                            // I am lazy and don't like to type things more than once
                                            const target = event.target;
                                            const input = event.target.value.replace(/\D/g, '').substring(0, 10); // First ten digits of input only
                                            const zip = input.substring(0, 3);
                                            const middle = input.substring(3, 6);
                                            const last = input.substring(6, 10);

                                            if (input.length > 6) { target.value = `(${zip}) ${middle} - ${last}`; }
                                            else if (input.length > 3) { target.value = `(${zip}) ${middle}`; }
                                            else if (input.length > 0) { target.value = `(${zip}`; }
                                        };

                                        const inputElement = document.getElementById('phoneNumber');
                                        inputElement.addEventListener('keydown', enforceFormat);
                                        inputElement.addEventListener('keyup', formatToPhone);
                                    </script>
                                }
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input asp-for="Email" value="@Model?.Email" type="email" placeholder="E-Posta Adresiniz" class="form-control" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group" style="margin:0;">
                                        <div class="input-group">
                                            <input asp-for="Password" type="password" class="form-control" id="password" placeholder="Şifreniz" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <label class="form-group" style="color:red; margin:0; font-size:11px;">*Şifreniz en az bir büyük harf, en az bir küçük harf, en az bir rakam ve en az bir özel karakter(* ! ' - vb.) içermelidir.</label>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input asp-for="ConfirmPassword" type="password" class="form-control" id="confirmPassword" placeholder="Şifreniz Tekrar" required>
                                        </div>
                                    </div>
                                </div>
                                <div id="message"></div>
                                <div class="col-lg-12">
                                    <div class="form-group form-forget">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" required class="custom-control-input" id="customControlAutosizing">
                                            <label class="custom-control-label" for="customControlAutosizing" style="    display: contents;"><span href="#" style="color:black;">Kişisel verilerimin işlenmesine yönelik <span style="text-decoration:underline; cursor:pointer;" data-toggle="modal" data-target="#myModal">aydınlatma metnini</span> okudum ve anladım.</span></label>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 m-b30" style="display: flex;justify-content: center;">
                                        <button name="submit" type="submit" value="Submit" class="btn button-md">Kayıt Ol</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>

</div>
<script>
    document.getElementById('passwordForm').addEventListener('submit', function (event) {
        var password = document.getElementById('password').value;
        var confirmPassword = document.getElementById('confirmPassword').value;

        if (password !== confirmPassword) {
            // Şifreler eşleşmiyorsa
            event.preventDefault(); // Form gönderimini engelle
            Swal.fire({ title: 'Hata', text: 'Şifreleriniz eşleşmiyor!', icon: 'error', confirmButtonText: 'Tamam' })
        }
    });
</script>
<!-- Modal İçeriği -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">FarmaKariyer Kişisel Veriler Politikası</h4>
            </div>
            <div class="modal-body">
                <p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;line-height:normal;background:white;'><span style='font-size:18px;font-family:"Times New Roman",serif;color:black;'>Kişisel Veriler Kanunu hakkında genel bilgilendirme</span></p>
                <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;line-height:normal;background:white;'><span style='font-size:18px;font-family:"Times New Roman",serif;color:black;'>6698 Sayılı Kişisel Verilerin Korunması Kanunu (bundan sonra KVKK olarak anılacaktır) 24 Mart 2016 tarihinde kabul edilmiş, 7&nbsp;Nisan 2016 tarihli 29677 sayılı Resmi Gazete&rsquo;de yayınlanmıştır. KVKK&rsquo;nun bir kısmı yayın tarihinde, bir kısmı ise 7 Ekim 2016&rsquo;da y&uuml;r&uuml;rl&uuml;ğe girmiştir.</span></p>
                <p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;line-height:normal;background:white;'><span style='font-size:18px;font-family:"Times New Roman",serif;color:black;'>Veri sorumlusu sıfatıyla bilgilendirme</span></p>
                <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;line-height:normal;background:white;'><span style='font-size:18px;font-family:"Times New Roman",serif;color:black;'>6698 sayılı&nbsp;KVKK uyarınca ve Veri Sorumlusu sıfatıyla, kişisel verileriniz bu sayfada a&ccedil;ıklandığı &ccedil;er&ccedil;evede; kaydedilecek, saklanacak, g&uuml;ncellenecek, mevzuatın izin verdiği durumlarda 3. kişilere a&ccedil;ıklanabilecek / devredilebilecek, sınıflandırılabilecek ve KVKK&rsquo;da sayılan şekillerde işlenebilecektir.</span></p>
                <p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;line-height:normal;background:white;'><span style='font-size:18px;font-family:"Times New Roman",serif;color:black;'>Kişisel verilerinizin ne şekilde işlenebileceği</span></p>
                <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;line-height:normal;background:white;'><span style='font-size:18px;font-family:"Times New Roman",serif;color:black;'>6698 sayılı KVKK uyarınca, Firmamız ile paylaştığınız kişisel verileriniz, tamamen veya kısmen,&nbsp;otomatik olarak, veyahut herhangi bir veri kayıt sisteminin par&ccedil;ası olmak kaydıyla otomatik&nbsp;olmayan yollarla elde edilerek, kaydedilerek, depolanarak, değiştirilerek, yeniden d&uuml;zenlenerek, kısacası veriler &uuml;zerinde&nbsp;ger&ccedil;ekleştirilen her t&uuml;rl&uuml; işleme konu olarak tarafımızdan işlenebilecektir. KVKK kapsamında veriler &uuml;zerinde ger&ccedil;ekleştirilen her t&uuml;rl&uuml; işlem &quot;kişisel verilerin işlenmesi&rdquo; olarak kabul edilmektedir.</span></p>
                <p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;line-height:normal;background:white;'><span style='font-size:18px;font-family:"Times New Roman",serif;color:black;'>Kişisel verilerinizin işlenme ama&ccedil;ları ve hukuki sebepleri</span></p>
                <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;line-height:normal;background:white;'><span style='font-size:18px;font-family:"Times New Roman",serif;color:black;'>Paylaştığınız kişisel veriler,</span></p>
                <ul class="decimal_type" style="list-style-type: disc;margin-left:0cmundefined;">
                    <li><span style='font-family:"Times New Roman",serif;font-size:13.5pt;color:black;'>M&uuml;şterilerimize verdiğimiz hizmetlerin gereklerini, s&ouml;zleşmenin ve teknolojinin gereklerine uygun şekilde&nbsp;yapabilmek, sunulan &uuml;r&uuml;n ve hizmetlerimizi geliştirebilmek i&ccedil;in;</span></li>
                    <li><span style='font-family:"Times New Roman",serif;font-size:13.5pt;color:black;'>6563 sayılı Elektronik Ticaretin D&uuml;zenlenmesi Hakkında Kanun, 6502 sayılı T&uuml;keticinin Korunması Hakkında Kanun ile bu d&uuml;zenlemelere dayanak yapılarak hazırlanan 26.08.2015 tarihli 29457 sayılı RG&rsquo;de yayınlanan Elektronik Ticarette Hizmet Sağlayıcı ve Aracı Hizmet Sağlayıcılar Hakkında Y&ouml;netmelik, 27.11.2014 tarihli ve 29188 sayılı RG&rsquo;de yayınlanan Mesafeli S&ouml;zleşmeler Y&ouml;netmeliği ve diğer ilgili mevzuat kapsamında işlem sahibinin bilgilerini tespit i&ccedil;in kimlik, adres ve diğer gerekli bilgileri kaydetmek i&ccedil;in;</span></li>
                    <li><span style='font-family:"Times New Roman",serif;font-size:13.5pt;color:black;'>Bankacılık ve Elektronik &Ouml;deme alanında zorunlu olan &ouml;deme sistemleri, elektronik s&ouml;zleşme veya kağıt ortamında işleme dayanak olacak t&uuml;m kayıt ve belgeleri d&uuml;zenlemek; mevzuat gereği ve diğer otoritelerce &ouml;ng&ouml;r&uuml;len bilgi saklama, raporlama, bilgilendirme y&uuml;k&uuml;ml&uuml;l&uuml;klerine uymak i&ccedil;in;</span></li>
                    <li><span style='font-family:"Times New Roman",serif;font-size:13.5pt;color:black;'>Kamu g&uuml;venliğine ilişkin hususlarda ve hukuki uyuşmazlıklarda, talep halinde ve mevzuat gereği savcılıklara, mahkemelere ve ilgili kamu g&ouml;revlilerine bilgi verebilmek i&ccedil;in;</span></li>
                </ul>
                <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;line-height:normal;background:white;'><span style='font-size:18px;font-family:"Times New Roman",serif;color:black;'>6698 sayılı KVKK ve ilgili ikincil d&uuml;zenlemelere&nbsp;uygun olarak işlenecektir. Kişisel verilerinizin aktarılabileceği &uuml;&ccedil;&uuml;nc&uuml; kişi veya kuruluşlar&nbsp;hakkında bilgilendirme Yukarıda belirtilen ama&ccedil;larla, Firmamız ile paylaştığınız kişisel verilerinizin aktarılabileceği kişi /&nbsp;kuruluşlar; tedarik&ccedil;iler, kargo şirketleri gibi sunulan hizmetler ile ilgili kişi ve kuruluşlar, faaliyetlerimizi y&uuml;r&uuml;tmek&nbsp;&uuml;zere ve/veya Veri İşleyen sıfatı ile hizmet alınan, iş birliği yaptığımız program ortağı kuruluşları, yurti&ccedil;i / yurtdışı&nbsp;kuruluşlar ve diğer 3. kişilerdir.</span></p>
                <p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;line-height:normal;background:white;'><span style='font-size:18px;font-family:"Times New Roman",serif;color:black;'>Kişisel verilerinizin toplanma şekli</span></p>
                <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;line-height:normal;background:white;'><span style='font-size:18px;font-family:"Times New Roman",serif;color:black;'>Kişisel verileriniz,</span></p>
                <ol style="list-style-type: circle;">
                    <li><span style='font-family:"Times New Roman",serif;font-size:13.5pt;color:black;'>Firmamız internet sitesi ve mobil uygulamalarındaki formlar aracılığıyla ad, soyad, TC kimlik numarası, adres, telefon, iş veya &ouml;zel e-posta adresi gibi bilgiler ile; kullanıcı adı ve şifresi kullanılarak giriş yapılan sayfalardaki tercihleri, ger&ccedil;ekleştirilen işlemlerin IP kayıtları, tarayıcı tarafından toplanan &ccedil;erez verileri ile gezinme s&uuml;re ve detaylarını i&ccedil;eren veriler, konum verileri şeklinde;</span></li>
                    <li><span style='font-family:"Times New Roman",serif;font-size:13.5pt;color:black;'>Satış ve pazarlama departmanı &ccedil;alışanlarımız, şubelerimiz, tedarik&ccedil;ilerimiz, diğer satış kanalları, kağıt &uuml;zerindeki formlar, kartvizitler, dijital pazarlama ve &ccedil;ağrı merkezi gibi kanallarımız aracılığıyla s&ouml;zl&uuml;, yazılı veya elektronik ortamdan;</span></li>
                    <li><span style='font-family:"Times New Roman",serif;font-size:13.5pt;color:black;'>Firmamız ile ticari ilişki kurmak, iş başvurusu yapmak, teklif vermek gibi ama&ccedil;larla, kartvizit, &ouml;zge&ccedil;miş (cv), teklif vermek ve sair yollarla kişisel verilerini paylaşan kişilerden alınan, fiziki veya sanal bir ortamda, y&uuml;z y&uuml;ze ya da mesafeli, s&ouml;zl&uuml; veya yazılı ya da elektronik ortamdan;</span></li>
                </ol>
                <div style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;'>
                    <ul style="margin-bottom:0cm;list-style-type: disc;margin-left:0cmundefined;">
                        <li style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;'><span style='font-family:"Times New Roman",serif;font-size:13.5pt;color:black;'>Ayrıca farklı kanallardan dolaylı yoldan elde edilen, web sitesi, blog, yarışma, anket, oyun, kampanya ve benzeri ama&ccedil;lı kullanılan (mikro) web sitelerinden ve sosyal medyadan elde edilen veriler, e-b&uuml;lten okuma veya tıklama hareketleri, kamuya a&ccedil;ık veri tabanlarının sunduğu veriler, sosyal medya platformlarından paylaşıma a&ccedil;ık profil ve verilerden; işlenebilmekte ve toplanabilmektedir.</span></li>
                    </ul>
                </div>
                <p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;line-height:normal;background:white;'><span style='font-size:18px;font-family:"Times New Roman",serif;color:black;'>KVKK y&uuml;r&uuml;rl&uuml;ğe girmeden &ouml;nce elde edilen kişisel verileriniz</span></p>
                <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;line-height:normal;background:white;'><span style='font-size:18px;font-family:"Times New Roman",serif;color:black;'>KVKK&rsquo;nun y&uuml;r&uuml;rl&uuml;k tarihi olan 7 Nisan 2016 tarihinden &ouml;nce, &uuml;yelik, elektronik ileti izni, &uuml;r&uuml;n / hizmet satın alma ve diğer şekillerde hukuka uygun olarak elde edilmiş olan kişisel verileriniz de bu belgede d&uuml;zenlenen şart ve koşullara uygun olarak işlenmekte ve muhafaza edilmektedir.</span></p>
                <p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;line-height:normal;background:white;'><span style='font-size:18px;font-family:"Times New Roman",serif;color:black;'>Kişisel verilerinizin yurtdışına aktarılması</span></p>
                <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;line-height:normal;background:white;'><span style='font-size:18px;font-family:"Times New Roman",serif;color:black;'>T&uuml;rkiye&rsquo;de işlenerek veya T&uuml;rkiye dışında işlenip muhafaza edilmek &uuml;zere, yukarıda sayılan y&ouml;ntemlerden herhangi birisi ile toplanmış kişisel verileriniz KVKK kapsamında kalmak kaydıyla ve s&ouml;zleşme ama&ccedil;larına uygun olarak yurtdışında bulunan (Kişisel Veriler Kurulu tarafından akredite edilen ve kişisel verilerin korunması hususunda yeterli korumanın bulunduğu &uuml;lkelere) &nbsp;hizmet aracılarına da aktarılabilecektir.</span></p>
                <p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;line-height:normal;background:white;'><span style='font-size:18px;font-family:"Times New Roman",serif;color:black;'>Kişisel verilerin saklanması ve korunması</span></p>
                <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;line-height:normal;background:white;'><span style='font-size:18px;font-family:"Times New Roman",serif;color:black;'>Kişisel verileriniz, Firmamız nezdinde yer alan veri tabanında ve sistemlerde KVKK&rsquo;nun 12. maddesi gereğince gizli olarak saklanacak; yasal zorunluluklar ve bu belgede belirtilen d&uuml;zenlemeler haricinde hi&ccedil;bir şekilde &uuml;&ccedil;&uuml;nc&uuml; kişilerle paylaşılmayacaktır. Firmamız, kişisel verilerinizin barındığı sistemleri ve veri tabanlarını, KVKK&rsquo;nun 12. Maddesi gereği kişisel verilerin hukuka aykırı olarak işlenmesini &ouml;nlemekle, yetkisiz kişilerin erişimlerini engellemekle, erişim y&ouml;netimi gibi yazılımsal tedbirleri ve fiziksel g&uuml;venlik &ouml;nlemleri almakla m&uuml;kelleftir. Kişisel verilerin yasal olmayan yollarla başkaları tarafından elde edilmesinin &ouml;ğrenilmesi halinde durum derhal, yasal d&uuml;zenlemeye uygun ve yazılı olarak Kişisel Verileri Koruma Kurulu&rsquo;na bildirilecektir.</span></p>
                <p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;line-height:normal;background:white;'><span style='font-size:18px;font-family:"Times New Roman",serif;color:black;'>Kişisel verilerin g&uuml;ncel ve doğru tutulması</span></p>
                <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;line-height:normal;background:white;'><span style='font-size:18px;font-family:"Times New Roman",serif;color:black;'>KVKK&rsquo;nun 4. maddesi uyarınca Firmamızın kişisel verilerinizi doğru ve g&uuml;ncel olarak tutma y&uuml;k&uuml;ml&uuml;l&uuml;ğ&uuml; bulunmaktadır. Bu kapsamda Firmamızın y&uuml;r&uuml;rl&uuml;kteki mevzuattan doğan y&uuml;k&uuml;ml&uuml;l&uuml;klerini yerine getirebilmesi i&ccedil;in M&uuml;şterilerimizin doğru ve g&uuml;ncel verilerini paylaşması veya web sitesi / mobil uygulama &uuml;zerinden g&uuml;ncellemesi gerekmektedir.</span></p>
                <p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;line-height:normal;background:white;'><span style='font-size:18px;font-family:"Times New Roman",serif;color:black;'>6698 sayılı KVKK uyarınca&nbsp;kişisel veri sahibinin hakları</span></p>
                <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;font-size:11.0pt;font-family:"Calibri",sans-serif;line-height:normal;background:white;'><span style='font-size:18px;font-family:"Times New Roman",serif;color:black;'>6698 sayılı KVKK 11.maddesi 07 Ekim 2016 tarihinde&nbsp;y&uuml;r&uuml;rl&uuml;ğe girmiş olup ilgili madde gereğince, Kişisel Veri Sahibi&rsquo;nin bu tarihten sonraki hakları aşağıdaki gibidir: Kişisel Veri Sahibi, Firmamıza (veri sorumlusu) başvurarak kendisiyle ilgili;</span></p>
                <p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:36.0pt;font-size:11.0pt;font-family:"Calibri",sans-serif;text-indent:-18.0pt;line-height:normal;background:white;'><span style='font-size:18px;font-family:"Times New Roman",serif;color:black;'>1.</span><span style='font-size:9px;font-family:"Times New Roman",serif;color:black;'>&nbsp; &nbsp; &nbsp;</span><span style='font-size:18px;font-family:"Times New Roman",serif;color:black;'>Kişisel veri işlenip işlenmediğini &ouml;ğrenme,</span></p>
                <p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:36.0pt;font-size:11.0pt;font-family:"Calibri",sans-serif;text-indent:-18.0pt;line-height:normal;background:white;'><span style='font-size:18px;font-family:"Times New Roman",serif;color:black;'>2.</span><span style='font-size:9px;font-family:"Times New Roman",serif;color:black;'>&nbsp; &nbsp; &nbsp;</span><span style='font-size:18px;font-family:"Times New Roman",serif;color:black;'>Kişisel verileri işlenmişse buna ilişkin bilgi talep etme,</span></p>
                <p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:36.0pt;font-size:11.0pt;font-family:"Calibri",sans-serif;text-indent:-18.0pt;line-height:normal;background:white;'><span style='font-size:18px;font-family:"Times New Roman",serif;color:black;'>3.</span><span style='font-size:9px;font-family:"Times New Roman",serif;color:black;'>&nbsp; &nbsp; &nbsp;</span><span style='font-size:18px;font-family:"Times New Roman",serif;color:black;'>Kişisel verilerin işlenme amacını ve bunların amacına uygun kullanılıp kullanılmadığını&nbsp;&ouml;ğrenme,</span></p>
                <p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:36.0pt;font-size:11.0pt;font-family:"Calibri",sans-serif;text-indent:-18.0pt;line-height:normal;background:white;'><span style='font-size:18px;font-family:"Times New Roman",serif;color:black;'>4.</span><span style='font-size:9px;font-family:"Times New Roman",serif;color:black;'>&nbsp; &nbsp; &nbsp;</span><span style='font-size:18px;font-family:"Times New Roman",serif;color:black;'>Yurt i&ccedil;inde veya yurt dışında kişisel verilerin aktarıldığı &uuml;&ccedil;&uuml;nc&uuml; kişileri bilme,</span></p>
                <p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:36.0pt;font-size:11.0pt;font-family:"Calibri",sans-serif;text-indent:-18.0pt;line-height:normal;background:white;'><span style='font-size:18px;font-family:"Times New Roman",serif;color:black;'>5.</span><span style='font-size:9px;font-family:"Times New Roman",serif;color:black;'>&nbsp; &nbsp; &nbsp;</span><span style='font-size:18px;font-family:"Times New Roman",serif;color:black;'>Kişisel verilerin eksik veya yanlış işlenmiş olması h&acirc;linde bunların d&uuml;zeltilmesini isteme,</span></p>
                <p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:36.0pt;font-size:11.0pt;font-family:"Calibri",sans-serif;text-indent:-18.0pt;line-height:normal;background:white;'><span style='font-size:18px;font-family:"Times New Roman",serif;color:black;'>6.</span><span style='font-size:9px;font-family:"Times New Roman",serif;color:black;'>&nbsp; &nbsp; &nbsp;</span><span style='font-size:18px;font-family:"Times New Roman",serif;color:black;'>KVKK&rsquo;nun 7. maddesinde &ouml;ng&ouml;r&uuml;len şartlar &ccedil;er&ccedil;evesinde kişisel verilerin silinmesini veya yok&nbsp;edilmesini isteme,</span></p>
                <p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:36.0pt;font-size:11.0pt;font-family:"Calibri",sans-serif;text-indent:-18.0pt;line-height:normal;background:white;'><span style='font-size:18px;font-family:"Times New Roman",serif;color:black;'>7.</span><span style='font-size:9px;font-family:"Times New Roman",serif;color:black;'>&nbsp; &nbsp; &nbsp;</span><span style='font-size:18px;font-family:"Times New Roman",serif;color:black;'>Kişisel verilerin d&uuml;zeltilmesi, silinmesi, yok edilmesi halinde bu işlemlerin, kişisel verilerin aktarıldığı &uuml;&ccedil;&uuml;nc&uuml; kişilere de bildirilmesini isteme,</span></p>
                <p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:36.0pt;font-size:11.0pt;font-family:"Calibri",sans-serif;text-indent:-18.0pt;line-height:normal;background:white;'><span style='font-size:18px;font-family:"Times New Roman",serif;color:black;'>8.</span><span style='font-size:9px;font-family:"Times New Roman",serif;color:black;'>&nbsp; &nbsp; &nbsp;</span><span style='font-size:18px;font-family:"Times New Roman",serif;color:black;'>İşlenen verilerin m&uuml;nhasıran otomatik sistemler vasıtasıyla analiz edilmesi suretiyle kişinin&nbsp;kendisi aleyhine bir sonucun ortaya &ccedil;ıkmasına itiraz etme,</span></p>
                <p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:36.0pt;font-size:11.0pt;font-family:"Calibri",sans-serif;text-indent:-18.0pt;line-height:normal;background:white;'><span style='font-size:18px;font-family:"Times New Roman",serif;color:black;'>9.</span><span style='font-size:9px;font-family:"Times New Roman",serif;color:black;'>&nbsp; &nbsp; &nbsp;</span><span style='font-size:18px;font-family:"Times New Roman",serif;color:black;'>Kişisel verilerin kanuna aykırı olarak işlenmesi sebebiyle zarara uğraması h&acirc;linde zararın&nbsp;giderilmesini talep etme, haklarına sahiptir. Yalova Ticaret Odası&rsquo;nın 4315&nbsp;sicil sayısında kayıtlı,&nbsp;620039275200017</span><span style='font-size:18px;font-family:"Tahoma",sans-serif;color:black;'>&nbsp;</span><span style='font-size:18px;font-family:"Times New Roman",serif;color:black;'>MERSİS numarasına sahip,&nbsp;Adnan Menderes Mh. Rahmi &Uuml;stel Cd. No:68/1</span><span style='font-size:11px;font-family:"Tahoma",sans-serif;color:black;'>&nbsp;</span><span style='font-size:18px;font-family:"Times New Roman",serif;color:black;'>adresinde bulunan FarmaKariyer, KVKK kapsamında Veri Sorumlusu&rsquo;dur. Firmamız tarafından atanacak Veri Sorumlusu Temsilcisi, yasal altyapı sağlandığında Veri Sorumluları Sicilinde ve bu belgenin bulunduğu internet adresinde ilan edilecektir. &nbsp; Kişisel Veri Sahipleri, sorularını, g&ouml;r&uuml;şlerini veya taleplerini aşağıdaki iletişim kanallarından herhangi birisine y&ouml;neltebilir.</span></p>
                <p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:36.0pt;font-size:11.0pt;font-family:"Calibri",sans-serif;text-indent:-18.0pt;line-height:normal;background:white;'><span style='font-size:18px;font-family:"Times New Roman",serif;color:black;'>&nbsp;info@farmakariyer.net</span></p>
                <p><br></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn button-md" data-dismiss="modal">Okudum Onaylıyorum</button>
            </div>
        </div>
    </div>
</div>

<style>
    .modal-content {
        margin-top: 15vh;
        height: 70vh;
        overflow: auto;
        padding: 20px;
    }
</style>