@using Domain.Model;
@using System.Globalization;
@model List<Apply>
@{
    ViewData["Title"] = "Başvurularım";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="card" style="background-color:transparent; border:none; box-shadow:none;">
                    <div class="card-body">
                        @if (Model != null && Model.Count > 0)
                        {
                            foreach (var item in Model)
                            {
                                @* firma foto - ilan ismi - eczane ismi - ilan başlığı - ilan silme *@
                                <div class="row mb-3" style="background-color:white; padding: 10px 20px; position:relative;">
                                    <div class="col-md-4" style="display: flex; flex-direction: column; justify-content: center; height: 100%;">
                                        <!-- Tarih kısmını ortalamak için değişiklik -->
                                        <div style="background-color:#ff2b58; width:fit-content; padding:3px 5px;">
                                            <h3 style="font-size:18px; margin:0; color:white;">@(item.ApplyDate.ToString("dd MMMM", CultureInfo.CreateSpecificCulture("tr-TR")))</h3>
                                        </div>
                                        <div style="display:flex; justify-content:center;">
                                            <img src="~/images/logoadvert.png" alt="Profile Picture">
                                        </div>
                                        <div class="overlay-style-one" style="display:flex; justify-content:center;">
                                            <div class="box">
                                                <div class="content">
                                                    <div style="background-color:#ff2b58; padding:5px; height:40px;"><span style="color:white; font-size:19px; font-weight:bold; text-transform:capitalize; line-height: 34px;">@item.Advert?.ApplicationUser?.PharmacyName</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8 padding:0; border:1px solid #f4f4f4; border-top:none;">
                                        <div>
                                            <h3>@item.Advert?.Title</h3>
                                            <p style="    height: 140px;">@item.Advert?.Description<p>
                                        </div>
                                        <div style="padding:10px 0;">
                                            <span>
                                                <b>Sahibi: </b>@item.Advert?.ApplicationUser?.Name @item.Advert?.ApplicationUser?.Surname
                                            </span>
                                            <div style="float:right;">
                                                <div>
                                                    <a href="/JobAdvert/Detail/@item.Advert?.Id">
                                                        <span style=" padding:5px 10px; background: #ff2b58; color: #fff;">
                                                            İlanı Gör
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</section>

