@using Domain.Model;
@model List<Advert>

@{
    ViewData["Title"] = "Teknisyen İlanları";
    int page = ViewBag.Page ?? 1;
    int pageCount = ViewBag.PageCount ?? 1;
    Domain.ViewModel.Core.PaginationVM pagingVm = new()
            {
                Controller = "JobAdvert",
                Action = "License",
                Page = page,
                PageCount = pageCount
            };
}

<!--Start breadcrumb area-->
<section class="breadcrumb-area" style="background-image: url(/images/sss.png);">
    <div class="container text-center">
        <h1>Ruhsat İlanları</h1>
    </div>
</section>
<!--End breadcrumb area-->
<!--Start breadcrumb bottom area-->
<section class="breadcrumb-botton-area">
    <div class="container">
        <div class="left pull-left">
            <ul>
                <li><a href="@Url.Action("Index","Home")">Anasayfa</a></li>
                <li><i class="fa fa-angle-right" style="color:black;" aria-hidden="true"></i></li>
                <li><a href="index.html">İlanlar</a></li>
                <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                <li>Ruhsat İlanları</li>
            </ul>
        </div>
    </div>
</section>
<!--End breadcrumb bottom area-->
<!--Start blog area-->
<section id="shop-area" class="main-shop-area">
    <div class="container">
        <div class="row">
            <!--Start sidebar Wrapper-->
            <div class="col-lg-3 col-md-4 col-sm-7 col-xs-12">
                <div class="sidebar-wrapper">
                    <div class="single-sidebar">
                        <div class="sec-title">
                            <h3>Lokasyon</h3>
                            <span class="border"></span>
                        </div>
                        <ul class="categories clearfix">
                            <li>
                                <select id="Iller" class="form-control" name="Province">
                                    <option disabled value="0">İl Seçiniz</option>
                                </select>
                            </li>
                            <li>
                                <select id="Ilceler" class="form-control" name="District">
                                    <option disabled value="0">Lütfen Önce bir İl seçiniz</option>
                                </select>
                            </li>
                        </ul>
                    </div>
                    <script src="~/scripts/ililce.js" province="0" district="0"></script> <!--il-ilçe-script-->
                    <div class="single-sidebar">
                        <div class="sec-title">
                            <h3>Eczane Kategorisi</h3>
                            <span class="border"></span>
                        </div>
                        <ul class="categories clearfix">
                            <li>
                                <select class="form-control" id="yilSeciniz">
                                    <option value="" disabled selected>Eczane Tipi</option>
                                    <option value="1">Ünite</option>
                                    <option value="2">Cadde</option>
                                    <option value="3">AVM</option>
                                    <option value="4">Semt</option>
                                </select>
                            </li>
                        </ul>
                    </div>
                    <div class="single-sidebar">
                        <div class="sec-title">
                            <h3>Çalışan Sayısı</h3>
                            <span class="border"></span>
                        </div>
                        <ul class="categories clearfix">
                            <li>
                                <select class="form-control" id="employeecount">
                                    <option value="" disabled selected>Kişi Sayısı</option>
                                    <option value="1">1</option>
                                    <option value="1">2</option>
                                    <option value="1">4</option>
                                    <option value="1">5</option>
                                    <option value="1">5-10</option>
                                    <option value="1">10-15</option>
                                    <option value="1">15-20</option>
                                    <option value="1">20-30</option>
                                    <option value="1">30+</option>

                                </select>
                            </li>
                        </ul>
                    </div>
                    <div class="single-sidebar">
                        <div class="sec-title">
                            <h3>Metre Kare</h3>
                            <span class="border"></span>
                        </div>
                        <ul class="categories clearfix">
                            <li>
                                <select class="form-control" id="employeecount">
                                    <option value="" disabled selected>Eczane m²</option>
                                    <option value="1">30-50 m²</option>
                                    <option value="1">50-100 m²</option>
                                    <option value="1">100-150 m²</option>
                                    <option value="1">150-200 m²</option>
                                    <option value="1"> 200-300 m²</option>
                                    <option value="1">300-500 m²</option>
                                </select>
                            </li>
                        </ul>
                    </div>
                    <div class="single-sidebar">
                        <div class="sec-title">
                            <h3>Ciro</h3>
                            <span class="border"></span>
                        </div>
                        <ul class="categories clearfix">
                            <li>
                                <select class="form-control" id="employeecount">
                                    <option value="" disabled selected>Günlük Ciro</option>
                                    <option value="1">1,000 - 3,000</option>
                                    <option value="1">3,000 - 5,000</option>
                                    <option value="1">5,000 - 7,000</option>
                                    <option value="1">7,000 - 10,000</option>
                                    <option value="1">10,000 - 15,000 </option>
                                    <option value="1">15,000+</option>
                                </select>
                            </li>
                        </ul>
                    </div>
                    <div class="single-sidebar">
                        <div class="sec-title">
                            <h3>Ruhsat</h3>
                            <span class="border"></span>
                        </div>
                        <ul class="categories clearfix">
                            <li>
                                <select class="form-control" id="employeecount">
                                    <option value="" disabled selected>Ruhsat Devir Durumu</option>
                                    <option value="1">Ruhsatlı</option>
                                    <option value="1">Ruhsatsız</option>
                                </select>
                            </li>
                        </ul>
                    </div>
                    <div class="single-sidebar">
                        <div class="sec-title">
                            <h3>Taşıma</h3>
                            <span class="border"></span>
                        </div>
                        <ul class="categories clearfix">
                            <li>
                                <select class="form-control" id="employeecount">
                                    <option value="" disabled selected>Taşıma Hakkı Durumu</option>
                                    <option value="1">Taşıma Hakkı Var</option>
                                    <option value="1">Taşıma Hakkı Yok</option>
                                </select>
                            </li>
                        </ul>
                    </div>
                    <div style="display:flex; justify-content:center;">
                        <a class="thm-btn bg-clr1" style="padding:10px 50px;" type="submit" href="/JobAdvert/Detail/2">ARA</a>E
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
                <div class="shop-content">
                    <div class="row advertpadding">
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <div class="single-blog-post">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="img-holder">
                                                <img src="~/images/logoadvertt.png" alt="Awesome Image">
                                                <div class="published-date">
                                                    <h3>@item.CreateDate.ToString("dd MMMM")</h3>
                                                </div>
                                                <div class="overlay-style-one">
                                                    <div class="box">
                                                        <div class="content">
                                                            <div style="background-color:#ff2b58; padding:5px; height:40px;"><span style="color:white; font-size:19px; font-weight:bold; text-transform:capitalize;     line-height: 34px;">@item.ApplicationUser.PharmacyName</span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="text-holder">
                                                <a href="@Url.Action("Detail","JobAdvert", new {id=item.Id})">
                                                    <h3 class="blog-title">@item.Title</h3>
                                                </a>
                                                <div class="text">
                                                    <p>@item.Description</p>
                                                </div>
                                                <div class="meta-info clearfix">
                                                    <div class="left pull-left">
                                                        <ul class="post-info">
                                                            <li>Sahibi <a href="#">@item.ApplicationUser.Name @item.ApplicationUser.Surname</a></li>
                                                            @*<li><a href="#">Eczane, Teknisyen</a></li>*@
                                                        </ul>
                                                    </div>
                                                    <div class="right pull-right">
                                                        <a class="thm-btn bg-clr1" style="padding:0px 8px;" type="submit" href="@Url.Action("Detail","JobAdvert", new {id=item.Id})" data-loading-text="Please wait...">İncele</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }

                    </div>
                    <!--Start post pagination-->
                    @if (Model?.Count > 0)
                    {
                        @await Html.PartialAsync("_PaginationPartial", pagingVm)
                    }
                    <!--End post pagination-->
                </div>
            </div>
            <!--End Sidebar Wrapper-->
        </div>
    </div>
</section>
<!--End blog area-->
<style>
    .btn{
        text-align: left;
        width: 100%;
        min-height:50px;
    }
    .dropdown-menu{
    width:100%;
    padding-left:10px;
    }
    .dropdown-menu{
        appearance:none;
    }
</style>