@using Domain.Model;
@model List<Advert>

@{
    ViewData["Title"] = "Teknisyen İlanları";
}

<!--Start breadcrumb area-->
<section class="breadcrumb-area" style="background-image: url(/images/sss.png);">
    <div class="container text-center">
        <h1>Diğer İlanlar</h1>
    </div>
</section>
<!--End breadcrumb area-->
<!--Start breadcrumb bottom area-->
<section class="breadcrumb-botton-area">
    <div class="container">
        <div class="left pull-left">
            <ul>
                <li><a href="@Url.Action("Index","Home")">Anasayfa</a></li>
                <li><i class="fa fa-angle-right" style="color:black;" aria-hidden="true"></i></li>
                <li><a href="index.html">İlanlar</a></li>
                <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                <li>Diğer İlanlar</li>
            </ul>
        </div>
    </div>
</section>
<!--End breadcrumb bottom area-->
<!--Start blog area-->
<section id="shop-area" class="main-shop-area">
    <div class="container">
        <div class="row">
            <!--Start sidebar Wrapper-->
            <div class="col-lg-3 col-md-4 col-sm-7 col-xs-12">
                <div class="sidebar-wrapper">
                    <div class="single-sidebar">
                        <div class="sec-title">
                            <h3>Lokasyon</h3>
                            <span class="border"></span>
                        </div>
                        <ul class="categories clearfix">
                            <li>
                                <select class="form-control" id="ilseciniz">
                                    <option value="" disabled selected>İl Seçiniz</option>
                                    <option value="1">İstanbul</option>
                                    <option value="1">Antalya</option>
                                    <option value="1">İzmir</option>
                                </select>
                            </li>

                            <li>
                                <select class="form-control" id="ilceSeciniz">
                                    <option value="" disabled selected>İlçe Seçiniz</option>
                                    <option value="1">Kadıköy</option>
                                    <option value="1">Eyüp</option>
                                    <option value="1">Sefaköy</option>

                                </select>
                            </li>
                        </ul>
                    </div>
                    <div class="single-sidebar">
                        <div class="sec-title">
                            <h3>Eczane Kategorisi</h3>
                            <span class="border"></span>
                        </div>
                        <ul class="categories clearfix">
                            <li>
                                <select class="form-control" id="yilSeciniz">
                                    <option value="" disabled selected>Eczane Tipi Seçiniz</option>
                                    <option value="1">Ünite</option>
                                    <option value="2">Cadde</option>
                                    <option value="3">AVM</option>
                                    <option value="4">Semt</option>
                                </select>
                            </li>
                        </ul>
                    </div>
                    <div class="single-sidebar">
                        <div class="sec-title">
                            <h3>Sürücü Belgesi</h3>
                            <span class="border"></span>
                        </div>
                        <ul class="categories clearfix">
                            <li>
                                <select class="form-control" id="stajyertype">
                                    <option value="" disabled selected>Stajyer Tipini Seçiniz</option>
                                    <option value="1">Stajyer Eczacı</option>
                                    <option value="2">Yardımcı Eczacı</option>
                                    <option value="3">İkinci Eczacı</option>
                                </select>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
                <div class="shop-content">
                    <div class="row advertpadding">
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <div class="single-blog-post">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="img-holder">
                                                <img src="~/images/logoadvertt.png" alt="Awesome Image">
                                                <div class="published-date">
                                                    <h3>@item.CreateDate.ToString("dd MMMM")</h3>
                                                </div>
                                                <div class="overlay-style-one">
                                                    <div class="box">
                                                        <div class="content">
                                                            <div style="background-color:#ff2b58; padding:5px; height:40px;"><span style="color:white; font-size:19px; font-weight:bold; text-transform:capitalize;     line-height: 34px;">@item.ApplicationUser.PharmacyName</span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="text-holder">
                                                <a href="blog-single.html">
                                                    <h3 class="blog-title">@item.Title</h3>
                                                </a>
                                                <div class="text">
                                                    <p>@item.Description</p>
                                                </div>
                                                <div class="meta-info clearfix">
                                                    <div class="left pull-left">
                                                        <ul class="post-info">
                                                            <li>Sahibi <a href="#">@item.ApplicationUser.Name @item.ApplicationUser.Surname</a></li>
                                                            @*<li><a href="#">Eczane, Teknisyen</a></li>*@
                                                        </ul>
                                                    </div>
                                                    <div class="right pull-right">
                                                        <a class="thm-btn bg-clr1" style="padding:0px 8px;" type="submit" href="@Url.Action("Detail","JobAdvert", new {id=item.Id})" data-loading-text="Please wait...">İncele</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }

                    </div>
                    <!--Start post pagination-->
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="post-pagination text-center">
                                <li><a href="#"><i class="fa fa-caret-left" aria-hidden="true"></i></a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!--End post pagination-->
                </div>
            </div>

            <!--End Sidebar Wrapper-->
        </div>
    </div>
</section>
<!--End blog area-->
<style>
    .btn {
        text-align: left;
        width: 100%;
        min-height: 50px;
    }

    .dropdown-menu {
        width: 100%;
        padding-left: 10px;
    }

    .dropdown-menu {
        appearance: none;
    }
</style>