@{
    ViewData["Title"] = "Hakkımızda";
}
<!--Start breadcrumb area-->
<section class="breadcrumb-area" style="background-image: url('@Url.Content("~/images/resources/breadcrumb-bg.jpg")');">
    <div class="container text-center">
        <h1>Hakkımızda</h1>
    </div>
</section>
<!--End breadcrumb area-->
<!--Start company overview area-->
<section class="company-overview-area">
    <div class="container">
        <div class="col-lg-3 col-md-4 col-sm-7 col-xs-12 pull-left">
            <div class="left-sidebar">
                <!--Start single sidebar-->
                <div class="single-sidebar">
                    <ul class="page-link">
                        <li>
                            <a href="@Url.Action("Contact","Home")">
                                İletişim
                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("AboutUs","Home")">
                                Hakkımızda
                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("OurPartners","Home")">
                                Partnerlerimiz
                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("FeedBacks","Home")">
                                Geri Dönüşler
                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Faq","Home")">
                                Sıkça Sorulan Sorular
                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12 pull-right">
                <div class="row">
                    <div class="col-md-12">
                        <div class="top-img-box">
                            <img src="~/images/company-overview/top-image.jpg" alt="Awesome Image">
                        </div>
                    </div>
                </div>
                <div class="row overview-content-pdbottom">
                    <div class="col-md-7">
                        <div class="overview-content">
                            <div class="sec-title">
                                <h1>Overview</h1>
                                <span class="border"></span>
                            </div>
                            <div class="text">
                                <p>We have over 20 years of experience we’ll ensure you always get the best guidance. serve clients at every level of their organizations, seds in whatever capacity we can be sed most useful, whether as a trusted advisor to top management sed ut or ours hands-on coach for front line employees.</p>
                                <p>For more  every engagement, we assemble team with the most appropriated experience and more expertis Our goal is too optimises our customers business seds uts relationships.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="progress-br">
                            <div class="pgrs-bar-wrapper">
                                <div class="inner-box">
                                    <ul class="pgrs-bar">
                                        <li>
                                            <h5>Consulting</h5>
                                            <div class="box">
                                                <div class="inner wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0s" data-wow-offset="0" style="width: 90%;">
                                                    <span>90%</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <h5>Finance</h5>
                                            <div class="box">
                                                <div class="inner wow fadeInLeft" data-wow-duration="2s" data-wow-delay=".5s" data-wow-offset="0" style="width: 65%;">
                                                    <span>65%</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <h5>Marketing</h5>
                                            <div class="box">
                                                <div class="inner wow fadeInLeft" data-wow-duration="2s" data-wow-delay=".5s" data-wow-offset="0" style="width: 80%;">
                                                    <span>80%</span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <div class="mission-content">
                            <div class="sec-title">
                                <h3>Our Mission</h3>
                                <span class="border"></span>
                            </div>
                            <ul>
                                <li>
                                    <div class="icon-holder">
                                        <span class="icon-gesture"></span>
                                    </div>
                                    <div class="text-holder">
                                        <h4>Vision to Plan</h4>
                                        <p>The process of improving measure of  enterpprise's success Business growth can be a achieved.</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon-holder">
                                        <span class="icon-luxury"></span>
                                    </div>
                                    <div class="text-holder">
                                        <h4>Plan to Market</h4>
                                        <p>Plan Market is a priority interest for many of organizations, when it comes to sustainability & corporate.</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon-holder">
                                        <span class="icon-writing"></span>
                                    </div>
                                    <div class="text-holder">
                                        <h4>Market to Growth</h4>
                                        <p>Who loves or pursues or desires to obtain pain of sed itself, because pain, but because occasionally.</p>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="mission-video-gallery">
                            <div class="video-holder">
                                <img src="~/images/company-overview/mission-video-gallery.jpg" alt="Awesome Video Gallery">
                                <div class="overlay-gallery">
                                    <div class="icon-holder">
                                        <div class="icon">
                                            <a class="html5lightbox" title="Assurance Video Gallery" href="https://www.youtube.com/watch?v=XOv7RmXi7VE"><img src="images/icon/play-btn-1.png" alt="Play Button"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="growth-statistics-content">
                            <div class="sec-title">
                                <h3>Growth Statistics</h3>
                                <span class="border"></span>
                            </div>
                            <div class="text">
                                <p>Assurance Consulting is 20 years in IT Security consulting business, started by two enthusiasts it grew to team of 20 high-skilled IT Security consulting specialists. Here is how we started. Whether as a trusted advisors to top managements or as a hands-on coaches for front line employees. </p>
                            </div>
                            <div class="chart">
                                <img src="~/images/company-overview/chart.jpg" alt="Awesome Image">
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            

        </div>
    </div>
</section>
<!--End company overview area-->