@{
    ViewData["Title"] = "Sıkça Sorulan Sorular";
}
<!--Start breadcrumb area-->
<section class="breadcrumb-area" style="background-image: url('@Url.Content("~/images/resources/breadcrumb-bg.jpg")');">
    <div class="container text-center">
        <h1>Sıkça Sorulan Sorular</h1>
    </div>
</section>
<!--End breadcrumb area-->
<!--Start faq content area-->
<section class="faq-content-area">
    <div class="container">
        <div class="row">

            @**********************************buraya bak*****************************@
           <div class="col-lg-3 col-md-4 col-sm-7 col-xs-12 float-start">
                <div class="left-sidebar">
                    <!--Start single sidebar-->
                    <div class="single-sidebar">
                        <ul class="page-link">
                            <li>
                                <a href="@Url.Action("Contact","Home")">
                                    İletişim
                                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("AboutUs","Home")">
                                    Hakkımızda
                                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                            <li>
                                <a href="@Url.Action("OurPartners","Home")">
                                    Partnerlerimiz
                                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("FeedBacks","Home")">
                                    Geri Dönüşler
                                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Faq","Home")">
                                    Sıkça Sorulan Sorular
                                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!--End single sidebar-->
                    <!--Start single sidebar-->
                </div>
            </div>
            <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12 float-end">
                <div class="content-box">
                    <div class="accordion-box">
                        <!--Start single accordion box-->
                        <div class="accordion accordion-block">
                            <div class="accord-btn">
                                <h4>Assurance Consulting have a unique way of working</h4>
                            </div>
                            <div class="accord-content">
                                <p>Supported by a robust sales force and tight cost controls, Pharm Ltd. experienced sustained double-digit growth over a number of years, only too find that their supply chains struggled to keep seds pace. In particulars, the initial state off the company’s sales denouncings pleasure and praisings pain was born and I will give you a complete </p>
                            </div>
                        </div>
                        <!--End single accordion box-->
                        <!--Start single accordion box-->
                        <div class="accordion accordion-block">
                            <div class="accord-btn active">
                                <h4>We bring together the best people to the world</h4>
                            </div>
                            <div class="accord-content collapsed">
                                <p>Supported by a robust sales force and tight cost controls, Pharm Ltd. experienced sustained double-digit growth over a number of years, only too find that their supply chains struggled to keep seds pace. In particulars, the initial state off the company’s sales denouncings pleasure and praisings pain was born and I will give you a complete </p>
                            </div>
                        </div>
                        <!--End single accordion box-->
                        <!--Start single accordion box-->
                        <div class="accordion accordion-block">
                            <div class="accord-btn">
                                <h4>How do I submit a sponsorship request?</h4>
                            </div>
                            <div class="accord-content">
                                <p>Supported by a robust sales force and tight cost controls, Pharm Ltd. experienced sustained double-digit growth over a number of years, only too find that their supply chains struggled to keep seds pace. In particulars, the initial state off the company’s sales denouncings pleasure and praisings pain was born and I will give you a complete </p>
                            </div>
                        </div>
                        <!--End single accordion box-->
                        <!--Start single accordion box-->
                        <div class="accordion accordion-block">
                            <div class="accord-btn">
                                <h4>Is it true that you are giving away mobile phones and laptops?</h4>
                            </div>
                            <div class="accord-content">
                                <p>Supported by a robust sales force and tight cost controls, Pharm Ltd. experienced sustained double-digit growth over a number of years, only too find that their supply chains struggled to keep seds pace. In particulars, the initial state off the company’s sales denouncings pleasure and praisings pain was born and I will give you a complete </p>
                            </div>
                        </div>
                        <!--End single accordion box-->
                        <!--Start single accordion box-->
                        <div class="accordion accordion-block">
                            <div class="accord-btn">
                                <h4>Are you giving away mobile phones and laptops?</h4>
                            </div>
                            <div class="accord-content">
                                <p>Supported by a robust sales force and tight cost controls, Pharm Ltd. experienced sustained double-digit growth over a number of years, only too find that their supply chains struggled to keep seds pace. In particulars, the initial state off the company’s sales denouncings pleasure and praisings pain was born and I will give you a complete.</p>
                            </div>
                        </div>
                        <!--End single accordion box-->
                        <!--Start single accordion box-->
                        <div class="accordion accordion-block">
                            <div class="accord-btn">
                                <h4>I am a student, can I become a trainee at your company?</h4>
                            </div>
                            <div class="accord-content">
                                <p>Supported by a robust sales force and tight cost controls, Pharm Ltd. experienced sustained double-digit growth over a number of years, only too find that their supply chains struggled to keep seds pace. In particulars, the initial state off the company’s sales denouncings pleasure and praisings pain was born and I will give you a complete </p>
                            </div>
                        </div>
                        <!--End single accordion box-->
                        <!--Start single accordion box-->
                        <div class="accordion accordion-block">
                            <div class="accord-btn">
                                <h4>How do i link multiple account with my profile?</h4>
                            </div>
                            <div class="accord-content">
                                <p>Supported by a robust sales force and tight cost controls, Pharm Ltd. experienced sustained double-digit growth over a number of years, only too find that their supply chains struggled to keep seds pace. In particulars, the initial state off the company’s sales denouncings pleasure and praisings pain was born and I will give you a complete </p>
                            </div>
                        </div>
                        <!--End single accordion box-->
                        <!--Start single accordion box-->
                        <div class="accordion accordion-block">
                            <div class="accord-btn">
                                <h4>What kind of financial advice do you give?</h4>
                            </div>
                            <div class="accord-content">
                                <p>Supported by a robust sales force and tight cost controls, Pharm Ltd. experienced sustained double-digit growth over a number of years, only too find that their supply chains struggled to keep seds pace. In particulars, the initial state off the company’s sales denouncings pleasure and praisings pain was born and I will give you a complete </p>
                            </div>
                        </div>
                        <!--End single accordion box-->
                        <!--Start single accordion box-->
                        <div class="accordion accordion-block">
                            <div class="accord-btn">
                                <h4>Does Dynamic share my contact info with others?</h4>
                            </div>
                            <div class="accord-content">
                                <p>Supported by a robust sales force and tight cost controls, Pharm Ltd. experienced sustained double-digit growth over a number of years, only too find that their supply chains struggled to keep seds pace. In particulars, the initial state off the company’s sales denouncings pleasure and praisings pain was born and I will give you a complete </p>
                            </div>
                        </div>
                        <!--End single accordion box-->
                    </div>
                </div>
                <div class="faq-form">
                    <div class="sec-title">
                        <h3>Did’nt Find Answer, Contact Us</h3>
                        <span class="border"></span>
                    </div>
                    <form id="faq-form" action="#">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" name="form_name" value="" placeholder="Your Name*" required="">
                                <input type="email" name="form_email" value="" placeholder="Your Mail*" required="">
                                <input type="text" name="website" value="" placeholder="Website">
                            </div>
                            <div class="col-md-6">
                                <textarea name="question" placeholder="Your Questions..." required=""></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button class="thm-btn bg-clr1" type="submit">Submit Here</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>
<!--End faq content area-->