@{
    ViewData["Title"] = "Anasayfa";
}


<!--Start breadcrumb area-->     
<section class="breadcrumb-area" style="background-image: url('@Url.Content("~/images/resources/breadcrumb-bg.jpg")');">
	<div class="container text-center">
		<h1>Dönüşleriniz</h1>
	</div>
</section>
<!--End breadcrumb area-->
<!--Start client feedback area-->
<section class="client-feedback-area">
    <div class="container">
        <div class="col-lg-3 col-md-4 col-sm-7 col-xs-12 pull-left">
            <div class="left-sidebar">
                <!--Start single sidebar-->
                <div class="single-sidebar">
                    <ul class="page-link">
                        <li>
                            <a href="@Url.Action("Contact","Home")">
                                İletişim
                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("AboutUs","Home")">
                                Hakkımızda
                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("OurPartners","Home")">
                                Partnerlerimiz
                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("FeedBacks","Home")">
                                Geri Dönüşler
                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Faq","Home")">
                                Sıkça Sorulan Sorular
                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!--End single sidebar-->
                <!--Start single sidebar-->
                <div class="single-sidebar">
                    <ul class="download-link">
                        <li>
                            <a href="#">
                                <div class="icon-holder">
                                    <span class="icon-pdf"></span>
                                </div>
                                <div class="title-holder">
                                    <h5>Our Presentation.PDF</h5>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="icon-holder">
                                    <span class="icon-word-document"></span>
                                </div>
                                <div class="title-holder">
                                    <h5>Financial Report.DOC</h5>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <!--End single sidebar-->
                <!--Start single sidebar-->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12 pull-right">
                <div class="testimonial-content">
                    <div class="row">
                        <!--Start single testimonial item-->
                        <div class="col-md-6">
                            <div class="single-testimonial-item">
                                <div class="text-holder">
                                    <p>Architect Michael Gregory worked with me to seds all bring my concept from design for to reality -providing much appreciated guidance. Gregory worked with bring my concept from designing reality designs sales termsheet nich market Startup.</p>
                                </div>
                                <div class="client-info">
                                    <div class="img-box">
                                        <img src="~/images/testimonial/tes-1.jpg" alt="Awesome Image">
                                    </div>
                                    <div class="title-box">
                                        <h4>James Viltones</h4>
                                        <p>Dream Theme</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End single testimonial item-->
                        <!--Start single testimonial item-->
                        <div class="col-md-6">
                            <div class="single-testimonial-item">
                                <div class="text-holder">
                                    <p>This company is professional, creative, good & Great knowledgeable. Dwayne vat our designer was fully patient, accommodating and experienced and good Gregory worked with me bring my concept know all from design to reality designs.</p>
                                </div>
                                <div class="client-info">
                                    <div class="img-box">
                                        <img src="~/images/testimonial/tes-2.jpg" alt="Awesome Image">
                                    </div>
                                    <div class="title-box">
                                        <h4>Mary Williamson</h4>
                                        <p>Newyork</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End single testimonial item-->
                    </div>
                    <div class="row">
                        <!--Start single testimonial item-->
                        <div class="col-md-6">
                            <div class="single-testimonial-item">
                                <div class="text-holder">
                                    <p>Assurance Consulting Company is professional, creative and knowledgeable. Dwayne our designer was great & patient, accommodating and experienced and workers Gregory worked with me bring my concept started from design to reality designs.</p>
                                </div>
                                <div class="client-info">
                                    <div class="img-box">
                                        <img src="~/images/testimonial/tes-3.jpg" alt="Awesome Image">
                                    </div>
                                    <div class="title-box">
                                        <h4>Brad Johnson</h4>
                                        <p>Rex Fertilizer</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End single testimonial item-->
                        <!--Start single testimonial item-->
                        <div class="col-md-6">
                            <div class="single-testimonial-item">
                                <div class="text-holder">
                                    <p>Architect Michael Gregory worked with me to seds all bring my concept from design for to reality -providing much appreciated guidance. Gregory worked with bring my concept from designing reality designs sales termsheet nich market Startup.</p>
                                </div>
                                <div class="client-info">
                                    <div class="img-box">
                                        <img src="~/images/testimonial/tes-4.jpg" alt="Awesome Image">
                                    </div>
                                    <div class="title-box">
                                        <h4>David Fernando</h4>
                                        <p>Park Gardern</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End single testimonial item-->
                    </div>
                    <div class="row">
                        <!--Start single testimonial item-->
                        <div class="col-md-6">
                            <div class="single-testimonial-item">
                                <div class="text-holder">
                                    <p>This company is professional, creative, good & Great knowledgeable. Dwayne vat our designer was fully patient, accommodating and experienced and good Gregory worked with me bring my concept know all from design to reality designs.</p>
                                </div>
                                <div class="client-info">
                                    <div class="img-box">
                                        <img src="~/images/testimonial/tes-5.jpg" alt="Awesome Image">
                                    </div>
                                    <div class="title-box">
                                        <h4>Mary Williamson</h4>
                                        <p>Newyork</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End single testimonial item-->
                        <!--Start single testimonial item-->
                        <div class="col-md-6">
                            <div class="single-testimonial-item">
                                <div class="text-holder">
                                    <p>Assurance Consulting Company is professional, creative and knowledgeable. Dwayne our designer was great & patient, accommodating and experienced and workers Gregory worked with me bring my concept started from design to reality designs.</p>
                                </div>
                                <div class="client-info">
                                    <div class="img-box">
                                        <img src="~/images/testimonial/tes-6.jpg" alt="Awesome Image">
                                    </div>
                                    <div class="title-box">
                                        <h4>Brad Johnson</h4>
                                        <p>Rex Fertilizer</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End single testimonial item-->
                    </div>
                    <div class="row">
                        <!--Start single testimonial item-->
                        <div class="col-md-6">
                            <div class="single-testimonial-item">
                                <div class="text-holder">
                                    <p>Architect Michael Gregory worked with me to seds all bring my concept from design for to reality -providing much appreciated guidance. Gregory worked with bring my concept from designing reality designs sales termsheet nich market Startup.</p>
                                </div>
                                <div class="client-info">
                                    <div class="img-box">
                                        <img src="~/images/testimonial/tes-7.jpg" alt="Awesome Image">
                                    </div>
                                    <div class="title-box">
                                        <h4>James Viltones</h4>
                                        <p>Dream Theme</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End single testimonial item-->
                        <!--Start single testimonial item-->
                        <div class="col-md-6">
                            <div class="single-testimonial-item">
                                <div class="text-holder">
                                    <p>Architect Michael Gregory worked with me to seds all bring my concept from design for to reality -providing much appreciated guidance. Gregory worked with bring my concept from designing reality designs sales termsheet nich market Startup.</p>
                                </div>
                                <div class="client-info">
                                    <div class="img-box">
                                        <img src="~/images/testimonial/tes-8.jpg" alt="Awesome Image">
                                    </div>
                                    <div class="title-box">
                                        <h4>David Fernando</h4>
                                        <p>Park Gardern</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End single testimonial item-->
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!--End client feedback area-->
