@using Domain.ViewModel.Home;
@model HomeVM
@{
    ViewData["Title"] = "Anasayfa";
}

@* <div style="margin-top:50px;">
    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 desktopmargind">
        <div class="left-sidebar">
            <!--Start single sidebar-->
            <div class="single-sidebar" style=" min-width:250px;">
                <ul class="page-link">
                    <li>
                        <a href="@Url.Action("Technician","JobAdvert")">
                            Teknisyen İlanları
                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Intern","JobAdvert")">
                            Stajyer İlanları
                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("License","JobAdvert")">
                            Ruhsat İlanları
                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("OtherAds","JobAdvert")">
                            Diğer İlanlar
                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container" style="margin-top:30px;">
        <div class="sec-title text-center">
            <h1>Öne Çıkan İlanlar</h1>
            <span class="border"></span>
        </div>
        <div class="owl-carousel owlitem" id="farmaref">
            @for (int i = 0; i < 5; i++)
            {
                <div class="item" style="margin:0 10px;">
                    <div style="cursor:pointer;">
                        <div class="itemborder">
                            <div style="display:flex; justify-content:center; padding:5px;"><img src="~/images/logoadvert.png"></div>
                            <div style="background-color:#ff2b58; padding:5px;"><h4 class="text-center">Eyüp İlaç Fabrikası</h4></div>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                            </p>
                            <div style="display:flex; justify-content:space-between; border-top:1px solid #f4f4f4; padding:10px 5px;">
                                <h5><b>Sahibi: </b>Enes</h5>
                                <h5><b>Tarih: </b>22 Ağustos</h5>
                            </div>

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
*@
<section class="breadcrumb-area" style="background-image: url(images/banner2.png);">
    <div class="container text-center">
        <h1><b style="color:#ff2b58;">FarmaKariyer</b>'de Öne Çıkan İlanlar</h1>
    </div>
</section>
<section id="project-area" class="latest-project-area grid-with-text" style="padding:20px 0;">
    <div class="container">
        <style>
            .custom-tab {
                display: flex;
                justify-content: center;
                margin-top: 20px;
            }

                .custom-tab .nav-item {
                    margin: 0 10px;
                }

            .tab-pane {
                margin-top: 50px;
            }

            .custom-tab .nav-link {
                border: 1px solid #dcdcdc;
                border-radius: 0;
                color: #333;
                transition: 0.3s;
            }

                .custom-tab .nav-link:hover {
                    background-color: #ff2b58;
                    color: white;
                }

            .nav-tabs {
                border-color: #ff2b58 !important;
            }

            .nav-item.active a {
                color: white;
            }

            .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
                background-color: #ff2b58;
                color: white;
            }

            .nav-link{
                font-weight:600;
            }
        </style>
        <div class="custom-tab">
            <!-- Tab Menüsü -->
            <ul class="nav nav-tabs mobilegrid" id="myTabs" role="tablist">
                <li class="nav-item active">
                    <a class="nav-link active" id="technician-tab" data-toggle="tab" href="#technician" role="tab" aria-controls="technician" aria-selected="true" aria-expanded="true">Teknisyen İlanları</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="dermo-tab" data-toggle="tab" href="#dermo" role="tab" aria-controls="dermo" aria-selected="false">Dermokozmetik Elemanı</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="intern-tab" data-toggle="tab" href="#intern" role="tab" aria-controls="intern" aria-selected="false">Stajyer İlanı</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="license-tab" data-toggle="tab" href="#license" role="tab" aria-controls="license" aria-selected="false">Ruhsat İlanları</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="otherads-tab" data-toggle="tab" href="#otherads" role="tab" aria-controls="otherads" aria-selected="false">Diğer İlanlar</a>
                </li>
            </ul>
        </div>
        <!-- Tab İçerikleri -->
        <div class="tab-content" id="myTabContent" style="  overflow:hidden;  height: 515px;">
            <div class="tab-pane fade in active" id="technician" role="tabpanel" aria-labelledby="technician-tab">
                @*teknisyen ilanları*@
                <div class="owl-carousel owlitem farmaref" style="margin-top:30px;">
                    @if (Model?.BoostedAdvertsTechnician != null)
                    {
                        foreach (var item in Model.BoostedAdvertsTechnician)
                        {
                            @await Html.PartialAsync("_BoostedAdvertCardPartial", item)
                        }
                    }
                </div>
            </div>
            <div class="tab-pane fade" id="dermo" role="tabpanel" aria-labelledby="dermo-tab">
                @*dermokozmetik elemanı*@
                <div class="owl-carousel owlitem farmaref" style="margin-top:30px;">
                    @if (Model?.BoostedAdvertsDermocosmetic != null)
                    {
                        foreach (var item in Model.BoostedAdvertsDermocosmetic)
                        {
                            @await Html.PartialAsync("_BoostedAdvertCardPartial", item)
                        }
                    }
                </div>
            </div>
            <div class="tab-pane fade" id="intern" role="tabpanel" aria-labelledby="intern-tab">
                @*stajyer ilanları*@
                <div class="owl-carousel owlitem farmaref" style="margin-top:30px;">
                    @if (Model?.BoostedAdvertsIntern != null)
                    {
                        foreach (var item in Model.BoostedAdvertsIntern)
                        {
                            @await Html.PartialAsync("_BoostedAdvertCardPartial", item)
                        }
                    }
                </div>
            </div>
            <div class="tab-pane fade" id="license" role="tabpanel" aria-labelledby="license-tab">
                @*ruhsat ilanları*@
                <div class="owl-carousel owlitem farmaref" style="margin-top:30px;">
                    @if (Model?.BoostedAdvertsLicense != null)
                    {
                        foreach (var item in Model.BoostedAdvertsLicense)
                        {
                            @await Html.PartialAsync("_BoostedAdvertCardPartial", item)
                        }
                    }
                </div>
            </div>
            <div class="tab-pane fade" id="otherads" role="tabpanel" aria-labelledby="otherads-tab">
                @*diğer ilanlar*@
                <div class="owl-carousel owlitem farmaref" style="margin-top:30px;">
                    @if (Model?.BoostedAdvertsOther != null)
                    {
                        foreach (var item in Model.BoostedAdvertsOther)
                        {
                            @await Html.PartialAsync("_BoostedAdvertCardPartial", item)
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<section class="video-gallery-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="text-holder">
                    <h3>FarmaKariyer Ezcane</h3>
                    <div class="text">
                        <p>
                            Eczane teknisyenleri, ilaçların hazırlanması ve hastalara sunulmasında önemli bir rol oynarlar. Eczacılarla işbirliği yaparak reçete ilaçlarını titizlikle hazırlarlar ve hastaların ilaçları doğru bir şekilde almasını sağlarlar. Ayrıca, sektöre girmeyi düşünenler için staj programları önemli bir öğrenme deneyimidir. Stajyerler, eczanelerde teorik bilgilerini pratiğe dökerler ve sektörün işleyişi hakkında daha fazla bilgi edinirler. Eczane işletmecileri için ruhsatlandırma gereklidir ve bu, tesislerin yasal olarak ilaçlarını satmasına izin verir. Tüm bu bileşenler, eczane sektörünün sağlık hizmetlerinin ayrılmaz bir parçasını oluşturur.
                        </p>
                        <a class="thm-btn bg-clr1" href="@Url.Action("AboutUs","Home")">Daha Fazla</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="video-holder">
                    <img src="~/images/farmacon.png" alt="Awesome Video Gallery">
                    <div class="overlay-gallery">
                        <div class="icon-holder">
                            <div class="icon">
                                <a class="html5lightbox" title="Assurance Video Gallery" href="https://www.youtube.com/watch?v=XOv7RmXi7VE"><img src="~/images/icon/play-btn.png" alt="Play Button"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<style>
    .single-blog-post .img-holder .published-date {
        width: 33% !important;
    }

    .item {
        width: 300px !important;
    }

        .item p {
            text-align: center;
            word-break: break-word;
        }

        .item img {
            width: 125px !important;
            height: 120px;
        }

        .item h4 {
            color: white;
            margin-top: 5px;
        }
</style>
@section Scripts{
    <script>
        var owl = $('.farmaref');
        owl.owlCarousel({
            loop: true,
            dots: false,
            autoplay: true,
            autoplayTimeout: 3000,
            autoplayHoverPause: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 3
                }
            }
        });
    </script>
}

@* <section class="latest-blog-area">
    <div class="container">
        <div class="sec-title text-center">
            <h1>Öne Çıkan İlanlar</h1>
            <span class="border"></span>
        </div>
        <div class="row">
            @if (Model?.Last3Advert != null)
            {
                foreach (var item in Model?.Last3Advert)
                {
                    <div class="col-md-4">
                        <div class="single-blog-post">
                            <div class="img-holder">
                                <img src="~/images/boxex1.jpg" alt="Awesome Image">
                                <div class="published-date">
                                    <h3>@(item.CreateDate.ToString("dd MMMM"))</h3>
                                </div>
                                <div class="overlay-style-one">
                                    <div class="box">
                                        <div class="content">
                                            <a href="@Url.Action("Detail", "JobAdvert", new { id = item.Id })"><i class="fa fa-link" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-holder">
                                <a href="blog-single.html">
                                    <h3 class="blog-title"></h3>
                                </a>
                                <div class="text">
                                    <p>@item.Description</p>
                                </div>
                                <div class="meta-info clearfix">
                                    <div class="left pull-left">
                                        <ul class="post-info">
                                            <li>Sahibi<a href="#"> @item.ApplicationUser?.Name @item.ApplicationUser?.Surname</a></li>
                                            <li><a href="#">@item.Type.GetDescription() İlanı</a></li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section> *@
<section class="fact-counter-area" style="background-image:url(/images/indexdna.png);">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-item text-center">
                    <h1><span class="timer" data-from="1" data-to="2456" data-speed="5000" data-refresh-interval="50">2456</span></h1>
                    <span class="border"></span>
                    <h3>Eczane Sayısı</h3>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-item text-center">
                    <h1><span class="timer" data-from="1" data-to="11269" data-speed="5000" data-refresh-interval="50">146</span><i class="fa fa-plus" aria-hidden="true"></i></h1>
                    <span class="border"></span>
                    <h3>Kullanıcı Sayısı</h3>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-item text-center">
                    <h1><span class="timer" data-from="1" data-to="50" data-speed="5000" data-refresh-interval="50">853</span><i class="fa fa-plus" aria-hidden="true"></i></h1>
                    <span class="border"></span>
                    <h3>İlan Sayısı</h3>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-item text-center">
                    <h1><span class="timer" data-from="1" data-to="30" data-speed="5000" data-refresh-interval="50">2381</span></h1>
                    <span class="border"></span>
                    <h3>Tamamlanan Başvurular</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="video-gallery-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="text-holder">
                    <h3>FarmaKariyer Çalışan</h3>
                    <div class="text">
                        <p>Eczane sektöründe çalışan teknisyenler, ilaçların hazırlanması ve hastalara sunulması aşamasında önemli bir rol oynarlar. Bu teknisyenler, eczacılarla birlikte çalışarak reçete ilaçlarını dikkatlice hazırlar ve hastaların ilaçları doğru bir şekilde almasını sağlarlar. Ayrıca, staj programları bu sektöre girmek isteyenler için önemli bir öğrenme deneyimidir. Stajyerler, eczanelerde teorik bilgilerini pratiğe dökerler ve sektörün işleyişi hakkında daha fazla bilgi edinirler. Ruhsatlandırma ise eczane işletmecileri için gereklidir ve bu, tesislerin yasal olarak ilaçlarını satmasına izin verir. Tüm bu bileşenler, eczane sektörünün sağlık hizmetlerinin ayrılmaz bir parçasını oluşturur.</p>
                        <a class="thm-btn bg-clr1" href="@Url.Action("AboutUs","Home")">Daha Fazla</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="video-holder">
                    <img src="~/images/farmacon.png" alt="Awesome Video Gallery">
                    <div class="overlay-gallery">
                        <div class="icon-holder">
                            <div class="icon">
                                <a class="html5lightbox" title="Assurance Video Gallery" href="https://www.youtube.com/watch?v=XOv7RmXi7VE"><img src="~/images/icon/play-btn.png" alt="Play Button"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--End latest blog area-->
@* <section class="testimonial-area" style="background-image:url(~/images/testimonial/testimonial-bg.jpg);">
    <div class="container">
        <div class="sec-title text-center">
            <h1>What Our Customers say</h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="testimonial-carousel">
                    <div class="single-item text-center">
                        <div class="text-holder">
                            <p>We help clients find ways to turn everyday information into actionable insights by
                                embedding analytics across their organization’s strategy, operations, and all working systems.</p>
                        </div>
                        <div class="client-info">
                            <div class="img-holder">
                                <img src="~/images/testimonial/1.png" alt="Client Photo">
                            </div>
                            <div class="name">
                                <h3>Robert Williamson</h3>
                                <p>Newyork</p>
                            </div>
                        </div>
                    </div>
                    <div class="single-item text-center">
                        <div class="text-holder">
                            <p>We help clients find ways to turn everyday information into actionable insights by embedding analytics across their organization’s strategy, operations, and all working systems.</p>
                        </div>
                        <div class="client-info">
                            <div class="img-holder">
                                <img src="~/images/testimonial/1.png" alt="Client Photo">
                            </div>
                            <div class="name">
                                <h3>Robert Williamson</h3>
                                <p>Newyork</p>
                            </div>
                        </div>
                    </div>
                    <div class="single-item text-center">
                        <div class="text-holder">
                            <p>We help clients find ways to turn everyday information into actionable insights by embedding analytics across their organization’s strategy, operations, and all working systems.</p>
                        </div>
                        <div class="client-info">
                            <div class="img-holder">
                                <img src="~/images/testimonial/1.png" alt="Client Photo">
                            </div>
                            <div class="name">
                                <h3>Robert Williamson</h3>
                                <p>Newyork</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> *@
@* <section class="brand-area" style="padding-bottom:0;">
    <div class="container">
        <div class="sec-title">
            <h1>Partnerlerimiz</h1>
            <span class="border"></span>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="brand">
                    <a class="tool_tip" title="Farma Kariyer Partner" href="#">
                        <div class="single-item">
                            <img src="~/slider-images/abbott.jpg">
                        </div>
                    </a>
                    <a class="tool_tip" title="Farma Kariyer Partner" href="#">
                        <div class="single-item">
                            <img src="~/slider-images/allergan.jpg">
                        </div>
                    </a>
                    <a class="tool_tip" title="Farma Kariyer Partner" href="#">
                        <div class="single-item">
                            <img src="~/slider-images/astellas.jpg">
                        </div>
                    </a>
                    <a class="tool_tip" title="Farma Kariyer Partner" href="#">
                        <div class="single-item">
                            <img src="~/slider-images/astrazeneca.jpg">
                        </div>
                    </a>
                    <a class="tool_tip" title="Farma Kariyer Partner" href="#">
                        <div class="single-item">
                            <img src="~/slider-images/bauschlomb.jpg">
                        </div>
                    </a>
                    <a class="tool_tip" title="Farma Kariyer Partner" href="#">
                        <div class="single-item">
                            <img src="~/slider-images/bayer.jpg">
                        </div>
                    </a>
                    <a class="tool_tip" title="Farma Kariyer Partner" href="#">
                        <div class="single-item">
                            <img src="~/slider-images/boehringer.jpg">
                        </div>
                    </a>
                    <a class="tool_tip" title="Farma Kariyer Partner" href="#">
                        <div class="single-item">
                            <img src="~/slider-images/gsk.jpg">
                        </div>
                    </a>
                    <a class="tool_tip" title="Farma Kariyer Partner" href="#">
                        <div class="single-item">
                            <img src="~/slider-images/johnson.jpg">
                        </div>
                    </a>
                    <a class="tool_tip" title="Farma Kariyer Partner" href="#">
                        <div class="single-item">
                            <img src="~/slider-images/msd.jpg">
                        </div>
                    </a>
                    <a class="tool_tip" title="Farma Kariyer Partner" href="#">
                        <div class="single-item">
                            <img src="~/slider-images/nestle.jpg">
                        </div>
                    </a>
                    <a class="tool_tip" title="Farma Kariyer Partner" href="#">
                        <div class="single-item">
                            <img src="~/slider-images/novartis.jpg">
                        </div>
                    </a>
                    <a class="tool_tip" title="Farma Kariyer Partner" href="#">
                        <div class="single-item">
                            <img src="~/slider-images/novonordisk.jpg">
                        </div>
                    </a>
                    <a class="tool_tip" title="Farma Kariyer Partner" href="#">
                        <div class="single-item">
                            <img src="~/slider-images/nutricia.jpg">
                        </div>
                    </a>
                    <a class="tool_tip" title="Farma Kariyer Partner" href="#">
                        <div class="single-item">
                            <img src="~/slider-images/nutricia.jpg">
                        </div>
                    </a>
                    <a class="tool_tip" title="Farma Kariyer Partner" href="#">
                        <div class="single-item">
                            <img src="~/slider-images/pfizer.jpg">
                        </div>
                    </a>
                    <a class="tool_tip" title="Farma Kariyer Partner" href="#">
                        <div class="single-item">
                            <img src="~/slider-images/sanofi.jpg">
                        </div>
                    </a>
                    <a class="tool_tip" title="Farma Kariyer Partner" href="#">
                        <div class="single-item">
                            <img src="~/slider-images/takeda.jpg">
                        </div>
                    </a>
                    <a class="tool_tip" title="Farma Kariyer Partner" href="#">
                        <div class="single-item">
                            <img src="~/slider-images/lilly.jpg">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section> *@
<section style="margin:60px 0;">
    <div class="container-fluid">
        <div class="container premcon">
            <div class="row">
                <div class="sec-title text-center">
                    <h1>İlan Paketlerimiz</h1>
                    <span class="border"></span>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="premcard card_three text-center">
                        <div class="title">
                            <i class="fa fa-paper-plane" aria-hidden="true"></i>
                            <h2>Başlangıç Paketi</h2>
                        </div>
                        <div class="price">
                            <h4>@(Model?.PackagePrice1 ?? 0.00f)<sup>₺</sup></h4>
                        </div>
                        <div class="option">
                            <ul>
                                <li><i class="fa-sharp fa-solid fa-check"></i>1 İlan Hakkı</li>
                                <li>Her ilan 30 gün yayında kalır</li>

                                @*            <li><div style="margin:78px;">&nbsp;</div></li> *@
                            </ul>
                        </div>
                        <a href="/Pharmacy/Account/Packages">Satın Al</a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 mpremcon">
                    <div class="premcard card_three text-center">
                        <div class="title">
                            <i class="fa fa-plane" aria-hidden="true"></i>
                            <h2>Gelişmiş Paket</h2>
                        </div>
                        <div class="price">
                            <h4>@(Model?.PackagePrice2 ?? 0.00f)<sup>₺</sup></h4>
                        </div>
                        <div class="option">
                            <ul>
                                <li><i class="fa-sharp fa-solid fa-check"></i>3 İlan Hakkı</li>
                                <li>Her ilan 30 gün yayında kalır</li>
                            </ul>
                        </div>
                        <a style="margin-bottom: 12px;" href="/Pharmacy/Account/Packages">Satın Al</a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="premcard card_three text-center">
                        <div class="title">
                            <i class="fa fa-rocket" aria-hidden="true"></i>
                            <h2>Sınırsız Paket</h2>
                        </div>
                        <div class="price">
                            <h4>@(Model?.PackagePrice3 ?? 0.00f)<sup>₺</sup></h4>
                        </div>
                        <div class="option">
                            <ul>
                                <li><i class="fa-sharp fa-solid fa-check"></i>Sınırsız İlan Hakkı</li>
                                <li>Her ilan 30 gün yayında kalır</li>
                            </ul>
                        </div>
                        <a href="/Pharmacy/Account/Packages">Satın Al</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>