@using Domain.ViewModel.Home;
@model HomeVM
@{
    ViewData["Title"] = "Anasayfa";
}

<section class="rev_slider_wrapper">
    <div id="slider1" class="rev_slider" data-version="5.0">
        <ul>
            <li data-transition="slidingoverlayleft">
                <img src="images/banner1.png" alt="" width="1920" height="550" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">

                <div class="tp-caption  tp-resizeme"
                     data-x="left" data-hoffset="0"
                     data-y="top" data-voffset="130"
                     data-transform_idle="o:1;"
                     data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
                     data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                     data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-start="700">
                    <div class="slide-content-box">
                        <h1 style=" text-transform:capitalize;"><span style="color:#ff2b58;">FarmaKariyer</span> İlk ve tek<br>eczaneler arası kariyer platformu</h1>
                    </div>
                </div>
                <div class="tp-caption tp-resizeme"
                     data-x="left" data-hoffset="0"
                     data-y="top" data-voffset="358"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-start="2300">
                    <div class="slide-content-box">
                        <div class="button">
                            <a class="thm-btn bg-clr1" href="@Url.Action("AboutUs","Home")">Hakkımızda</a>
                        </div>
                    </div>
                </div>
                <div class="tp-caption tp-resizeme"
                     data-x="left" data-hoffset="182"
                     data-y="top" data-voffset="358"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-start="2600">
                    <div class="slide-content-box">
                        <div class="button">
                            @*   <a class="thm-btn bg-clr2" href="@Url.Action("Contact","Home")">Bize Ulaş</a> *@
                        </div>
                    </div>
                </div>
            </li>
            <li data-transition="fade">
                <img src="images/banner2.png" alt="" width="1920" height="550" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">

                <div class="tp-caption tp-resizeme"
                     data-x="center" data-hoffset="0"
                     data-y="center" data-voffset="-47"
                     data-transform_idle="o:1;"
                     data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
                     data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                     data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
                     data-splitin="none"
                     data-splitout="none"
                     data-start="500">
                    <div class="slide-content-box middle-slide">
                        <h1 stlye="color:black;">Bizimle Çalışmak İçin<br>Hemen Ulaş</h1>
                    </div>
                </div>
                <div class="tp-caption tp-resizeme"
                     data-x="center" data-hoffset="0"
                     data-y="center" data-voffset="75"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-start="2300">
                    <div class="slide-content-box middle-slide">
                        <div class="button">
                            @*                             <a href="@Url.Action("OurPartners","Home")">Partnerlerimiz</a> *@
                            <a class="thm-btn bg-clr2" href="@Url.Action("Contact","Home")">Bize Ulaş</a>
                        </div>
                    </div>
                </div>
            </li>
            <li data-transition="slidingoverlayright">
                <img src="~/images/banner3.png" alt="" width="1920" height="550" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">

                <div class="tp-caption  tp-resizeme"
                     data-x="left" data-hoffset="0"
                     data-y="top" data-voffset="130"
                     data-transform_idle="o:1;"
                     data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
                     data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                     data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-start="700">
                    <div class="slide-content-box">
                        <h1 style=" text-transform:capitalize;"><span style="color:#ff2b58;">FarmaKariyer</span><br>Hemen kolayca İlan oluştur veya İlan Ara</h1>
                    </div>
                </div>
                <div class="tp-caption tp-resizeme"
                     data-x="left" data-hoffset="0"
                     data-y="top" data-voffset="358"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-start="2300">
                    <div class="slide-content-box">
                        <div class="button">
                            <a class="thm-btn bg-clr1" href="@Url.Action("List","JobAdvert")">İlanlarımız</a>
                        </div>
                    </div>
                </div>
                <div class="tp-caption tp-resizeme"
                     data-x="left" data-hoffset="182"
                     data-y="top" data-voffset="358"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-start="2600">
                    @*  <div class="slide-content-box">
                    <div class="button">
                    <a class="thm-btn bg-clr2" href="#">Contact Us</a>
                    </div>
                    </div> *@
                </div>
            </li>
        </ul>
    </div>
</section>

<section class="fact-counter-area" style="background-image:url(/images/indexdna.png);">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-item text-center">
                    <h1><span class="timer" data-from="1" data-to="2456" data-speed="5000" data-refresh-interval="50">2456</span></h1>
                    <span class="border"></span>
                    <h3>Eczane Sayısı</h3>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-item text-center">
                    <h1><span class="timer" data-from="1" data-to="146" data-speed="5000" data-refresh-interval="50">146</span><i class="fa fa-plus" aria-hidden="true"></i></h1>
                    <span class="border"></span>
                    <h3>Kullanıcı Sayısı</h3>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-item text-center">
                    <h1><span class="timer" data-from="1" data-to="853" data-speed="5000" data-refresh-interval="50">853</span><i class="fa fa-plus" aria-hidden="true"></i></h1>
                    <span class="border"></span>
                    <h3>İlan Sayısı</h3>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-item text-center">
                    <h1><span class="timer" data-from="1" data-to="2381" data-speed="5000" data-refresh-interval="50">2381</span></h1>
                    <span class="border"></span>
                    <h3>Tamamlanan Başvurular</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="video-gallery-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="text-holder">
                    <h3>FarmaKariyer.</h3>
                    <div class="text">
                        <p>Eczane sektöründe çalışan teknisyenler, ilaçların hazırlanması ve hastalara sunulması aşamasında önemli bir rol oynarlar. Bu teknisyenler, eczacılarla birlikte çalışarak reçete ilaçlarını dikkatlice hazırlar ve hastaların ilaçları doğru bir şekilde almasını sağlarlar. Ayrıca, staj programları bu sektöre girmek isteyenler için önemli bir öğrenme deneyimidir. Stajyerler, eczanelerde teorik bilgilerini pratiğe dökerler ve sektörün işleyişi hakkında daha fazla bilgi edinirler. Ruhsatlandırma ise eczane işletmecileri için gereklidir ve bu, tesislerin yasal olarak ilaçlarını satmasına izin verir. Tüm bu bileşenler, eczane sektörünün sağlık hizmetlerinin ayrılmaz bir parçasını oluşturur.</p>
                        <a class="thm-btn bg-clr1" href="#">Daha Fazla</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="video-holder">
                    <img src="~/images/farmacon.png" alt="Awesome Video Gallery">
                    <div class="overlay-gallery">
                        <div class="icon-holder">
                            <div class="icon">
                                <a class="html5lightbox" title="Assurance Video Gallery" href="https://www.youtube.com/watch?v=XOv7RmXi7VE"><img src="~/images/icon/play-btn.png" alt="Play Button"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--Start latest blog area-->
<div class="container" style="margin-top:30px;">
    <div class="sec-title text-center">
        <h1>Öne Çıkan İlanlar</h1>
        <span class="border"></span>
    </div>
    <div class="owl-carousel owlitem" id="farmaref">
       @for (int i = 0; i < 5; i++)
        {
            <div class="item" style="margin:0 10px;">
                <div style="cursor:pointer;">
                    <div class="itemborder">
                        <div style="display:flex; justify-content:center; padding:5px;"><img src="~/images/logoadvert.png"></div>
                        <div style="background-color:#ff2b58; padding:5px;"><h4 class="text-center">Eyüp İlaç Fabrikası</h4></div>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled 
                        </p>
                        <div style="display:flex; justify-content:space-between; border-top:1px solid #f4f4f4; padding:10px 5px;">
                            <h5><b>Sahibi: </b>Enes</h5>
                            <h5><b>Tarih: </b>22 Ağustos</h5>
                        </div>

                    </div>
                </div>
            </div>
        }
    </div>
</div>
<style>
    .item p {
        text-align: center;
        padding:15px 10px;
        word-break:break-word;
    }

    .item img {
        width: 170px !important;
        height: 120px;
    }

    .item h4 {
        color: white;
        margin-top: 5px;
    }

    .itemborder {
        border: 0.5px solid #ff2b58;
    }
</style>
@section Scripts{
    <script>
        var owl = $('#farmaref');
        owl.owlCarousel({
            loop: true,
            dots: false,
            autoplay: true,
            autoplayTimeout: 3000,
            autoplayHoverPause: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 4
                }
            }
        });
    </script>
}

@* <section class="latest-blog-area">
    <div class="container">
        <div class="sec-title text-center">
            <h1>Öne Çıkan İlanlar</h1>
            <span class="border"></span>
        </div>
        <div class="row">
            @if (Model?.Last3Advert != null)
            {
                foreach (var item in Model?.Last3Advert)
                {
                    <div class="col-md-4">
                        <div class="single-blog-post">
                            <div class="img-holder">
                                <img src="~/images/boxex1.jpg" alt="Awesome Image">
                                <div class="published-date">
                                    <h3>@(item.CreateDate.ToString("dd MMMM"))</h3>
                                </div>
                                <div class="overlay-style-one">
                                    <div class="box">
                                        <div class="content">
                                            <a href="@Url.Action("Detail", "JobAdvert", new { id = item.Id })"><i class="fa fa-link" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-holder">
                                <a href="blog-single.html">
                                    <h3 class="blog-title"></h3>
                                </a>
                                <div class="text">
                                    <p>@item.Description</p>
                                </div>
                                <div class="meta-info clearfix">
                                    <div class="left pull-left">
                                        <ul class="post-info">
                                            <li>Sahibi<a href="#"> @item.ApplicationUser?.Name @item.ApplicationUser?.Surname</a></li>
                                            <li><a href="#">@item.Type.GetDescription() İlanı</a></li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section> *@
<section class="video-gallery-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="text-holder">
                    <h3>FarmaKariyer.</h3>
                    <div class="text">
                        <p>Eczane sektöründe çalışan teknisyenler, ilaçların hazırlanması ve hastalara sunulması aşamasında önemli bir rol oynarlar. Bu teknisyenler, eczacılarla birlikte çalışarak reçete ilaçlarını dikkatlice hazırlar ve hastaların ilaçları doğru bir şekilde almasını sağlarlar. Ayrıca, staj programları bu sektöre girmek isteyenler için önemli bir öğrenme deneyimidir. Stajyerler, eczanelerde teorik bilgilerini pratiğe dökerler ve sektörün işleyişi hakkında daha fazla bilgi edinirler. Ruhsatlandırma ise eczane işletmecileri için gereklidir ve bu, tesislerin yasal olarak ilaçlarını satmasına izin verir. Tüm bu bileşenler, eczane sektörünün sağlık hizmetlerinin ayrılmaz bir parçasını oluşturur.</p>
                        <a class="thm-btn bg-clr1" href="#">Daha Fazla</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="video-holder">
                    <img src="~/images/farmacon.png" alt="Awesome Video Gallery">
                    <div class="overlay-gallery">
                        <div class="icon-holder">
                            <div class="icon">
                                <a class="html5lightbox" title="Assurance Video Gallery" href="https://www.youtube.com/watch?v=XOv7RmXi7VE"><img src="~/images/icon/play-btn.png" alt="Play Button"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--End latest blog area-->
@* <section class="testimonial-area" style="background-image:url(~/images/testimonial/testimonial-bg.jpg);">
    <div class="container">
        <div class="sec-title text-center">
            <h1>What Our Customers say</h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="testimonial-carousel">
                    <div class="single-item text-center">
                        <div class="text-holder">
                            <p>We help clients find ways to turn everyday information into actionable insights by
                                embedding analytics across their organization’s strategy, operations, and all working systems.</p>
                        </div>
                        <div class="client-info">
                            <div class="img-holder">
                                <img src="~/images/testimonial/1.png" alt="Client Photo">
                            </div>
                            <div class="name">
                                <h3>Robert Williamson</h3>
                                <p>Newyork</p>
                            </div>
                        </div>
                    </div>
                    <div class="single-item text-center">
                        <div class="text-holder">
                            <p>We help clients find ways to turn everyday information into actionable insights by embedding analytics across their organization’s strategy, operations, and all working systems.</p>
                        </div>
                        <div class="client-info">
                            <div class="img-holder">
                                <img src="~/images/testimonial/1.png" alt="Client Photo">
                            </div>
                            <div class="name">
                                <h3>Robert Williamson</h3>
                                <p>Newyork</p>
                            </div>
                        </div>
                    </div>
                    <div class="single-item text-center">
                        <div class="text-holder">
                            <p>We help clients find ways to turn everyday information into actionable insights by embedding analytics across their organization’s strategy, operations, and all working systems.</p>
                        </div>
                        <div class="client-info">
                            <div class="img-holder">
                                <img src="~/images/testimonial/1.png" alt="Client Photo">
                            </div>
                            <div class="name">
                                <h3>Robert Williamson</h3>
                                <p>Newyork</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> *@
<section class="brand-area">
    <div class="container">
        <div class="sec-title">
            <h1>Partnerlerimiz</h1>
            <span class="border"></span>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="brand">
                    <a class="tool_tip" title="Farma Kariyer Partner" href="#">
                        <div class="single-item">
                            <img src="~/slider-images/abbott.jpg">
                        </div>
                    </a>
                    <a class="tool_tip" title="Farma Kariyer Partner" href="#">
                        <div class="single-item">
                            <img src="~/slider-images/allergan.jpg">
                        </div>
                    </a>
                    <a class="tool_tip" title="Farma Kariyer Partner" href="#">
                        <div class="single-item">
                            <img src="~/slider-images/astellas.jpg">
                        </div>
                    </a>
                    <a class="tool_tip" title="Farma Kariyer Partner" href="#">
                        <div class="single-item">
                            <img src="~/slider-images/astrazeneca.jpg">
                        </div>
                    </a>
                    <a class="tool_tip" title="Farma Kariyer Partner" href="#">
                        <div class="single-item">
                            <img src="~/slider-images/bauschlomb.jpg">
                        </div>
                    </a>
                    <a class="tool_tip" title="Farma Kariyer Partner" href="#">
                        <div class="single-item">
                            <img src="~/slider-images/bayer.jpg">
                        </div>
                    </a>
                    <a class="tool_tip" title="Farma Kariyer Partner" href="#">
                        <div class="single-item">
                            <img src="~/slider-images/boehringer.jpg">
                        </div>
                    </a>
                    <a class="tool_tip" title="Farma Kariyer Partner" href="#">
                        <div class="single-item">
                            <img src="~/slider-images/gsk.jpg">
                        </div>
                    </a>
                    <a class="tool_tip" title="Farma Kariyer Partner" href="#">
                        <div class="single-item">
                            <img src="~/slider-images/johnson.jpg">
                        </div>
                    </a>
                    <a class="tool_tip" title="Farma Kariyer Partner" href="#">
                        <div class="single-item">
                            <img src="~/slider-images/msd.jpg">
                        </div>
                    </a>
                    <a class="tool_tip" title="Farma Kariyer Partner" href="#">
                        <div class="single-item">
                            <img src="~/slider-images/nestle.jpg">
                        </div>
                    </a>
                    <a class="tool_tip" title="Farma Kariyer Partner" href="#">
                        <div class="single-item">
                            <img src="~/slider-images/novartis.jpg">
                        </div>
                    </a>
                    <a class="tool_tip" title="Farma Kariyer Partner" href="#">
                        <div class="single-item">
                            <img src="~/slider-images/novonordisk.jpg">
                        </div>
                    </a>
                    <a class="tool_tip" title="Farma Kariyer Partner" href="#">
                        <div class="single-item">
                            <img src="~/slider-images/nutricia.jpg">
                        </div>
                    </a>
                    <a class="tool_tip" title="Farma Kariyer Partner" href="#">
                        <div class="single-item">
                            <img src="~/slider-images/nutricia.jpg">
                        </div>
                    </a>
                    <a class="tool_tip" title="Farma Kariyer Partner" href="#">
                        <div class="single-item">
                            <img src="~/slider-images/pfizer.jpg">
                        </div>
                    </a>
                    <a class="tool_tip" title="Farma Kariyer Partner" href="#">
                        <div class="single-item">
                            <img src="~/slider-images/sanofi.jpg">
                        </div>
                    </a>
                    <a class="tool_tip" title="Farma Kariyer Partner" href="#">
                        <div class="single-item">
                            <img src="~/slider-images/takeda.jpg">
                        </div>
                    </a>
                    <a class="tool_tip" title="Farma Kariyer Partner" href="#">
                        <div class="single-item">
                            <img src="~/slider-images/lilly.jpg">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>