@using Core.Helper;
@using WebUI.Areas.Pharmacy.Models.ViewModels;
@model PharmacyProfileVM
@{
    ViewData["Title"] = "Profil";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                        <div class="text-center" style="position:relative;">
                            <img id="file-result" src="@(Url.Content(UserHelper.UserPhotoOrDefault(Model.User.PhotoPath)))" height="150px;" style="border:3px solid #ff2b58; border-radius:50%; height: 150px; width: 150px;" />

                            <form action="/Pharmacy/Account/UpdatePhoto" method="post" enctype="multipart/form-data">
                                <div class="d-flex flex-column mx-3 my-1">
                                    <div class="custom-file mb-2">
                                        <input type="file" class="custom-file-input" id="file-input" name="Photo" accept="image/*">
                                        <label class="custom-file-label" for="inputGroupFile01">Fotoğraf seç</label>
                                    </div>

                                    <input type="submit" value="Güncelle" style="background-color:#ff2b58;" class="btn btn-danger" />
                                </div>
                            </form>


                            <script>
                                const fileInput = document.getElementById('file-input');

                                fileInput.addEventListener('change', (event) => {
                                    const file = event.target.files[0];
                                    const reader = new FileReader();

                                    reader.onload = (event) => {
                                        const base64Data = event.target.result;
                                        document.getElementById('file-result').src = base64Data;
                                    };

                                    reader.readAsDataURL(file);
                                });
                            </script>
                        </div>

                        <h3 class="profile-username text-center">@Model.User.Name @Model.User.Surname</h3>

                        <p class="text-muted text-center" style="text-transform:capitalize;">@Model.User.PharmacyName</p>

                        <ul class="list-group list-group-unbordered mb-3">
                            <li class="list-group-item">
                                <b>İlan Oluşturma Hakkınız</b> <a class="float-right" style="color:#ff2b58;">@(Model.User.AdvertPostingQuota == -1 ? "Sınırsız" : Model.User.AdvertPostingQuota)</a>
                            </li>
                            <li class="list-group-item">
                                <b>İlan Sayısı</b> <a class="float-right" style="color:#ff2b58;">@Model.AdvertCount</a>
                            </li>
                            <li class="list-group-item">
                                <b>Toplam Gelen Başvurular</b> <a class="float-right" style="color:#ff2b58;">@Model.TotalApplyCount</a>
                            </li>
                            <li class="list-group-item">
                                <b>İlanlara Gelen Ortalama Başvurular</b> <a class="float-right" style="color:#ff2b58;">@Model.AverageApplyCount</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <!-- About Me Box -->
                <div class="card card-primary">
                    <div class="card-header" style="background-color:#ff2b58;">
                        <h3 class="card-title">Eczane Bilgilerim</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <strong><i class="fas fa-book mr-1"></i>Eğitim</strong>

                        <p class="text-muted">
                            @(Model.User.SchoolName ?? "Belirtilmedi") @(string.IsNullOrEmpty(Model.User.EducationStatus) ? "" : $"- {Model.User.EducationStatus}")
                        </p>

                        <hr>

                        <strong><i class="fas fa-map-marker-alt mr-1"></i>Adres</strong>
                        <p class="text-muted"><b>GLN Numarası:</b> @Model.User.GLNCode</p>
                        <p class="text-muted"><b>Konum:</b> @ProvinceHelper.GetProvinceName(Convert.ToInt32(Model.User.Province)), @Model.User.District</p>
                        <p class="text-muted"><b>Telefon:</b> @Model.User.PhoneNumber</p>
                        <p class="text-muted"><b>E-Posta:</b> @Model.User.Email</p>
                        <hr>
                        @if (!string.IsNullOrEmpty(Model.User.Certificates))
                        {
                            <strong><i class="fas fa-pencil-alt mr-1"></i>Sertifikalar</strong>
                            <p class="text-muted">
                                @foreach (var item in Model.User.Certificates.Split(Environment.NewLine))
                                {
                                    <span class="tag">@item</span> <br />
                                }
                            </p>
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills">
                            <li class="nav-item"><a class="nav-link active" href="#pharmacyinfo" data-toggle="tab">Eczane Bilgileri</a></li>
                            <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Ayarlar</a></li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="active tab-pane" id="pharmacyinfo">
                                <form class="form-horizontal" method="post" action="/Pharmacy/Account/UpdateProfile">
                                    <input type="hidden" name="RequirePassword" value="0" />
                                    <div class="col-md-12">
                                        <div class="card card-primary">
                                            <div class="card-header">
                                                <h3 class="card-title">Bilgiler</h3>
                                            </div>
                                            <div class="card-body">
                                                <div class="form-group">
                                                    <label for="inputName">Eczacı Adı:</label>
                                                    <input required minlenght="3" type="text" class="form-control" id="inputName" name="Name" value="@Model.User.Name" placeholder="Eczacı Adı">

                                                </div>
                                                <div class="form-group">
                                                    <label for="inputSurname">Eczacı Soyadı:</label>
                                                    <input required type="text" class="form-control" id="inputSurname" name="Surname" value="@Model.User.Surname" placeholder="Eczacı Soyadı">
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputPhone">Telefon</label>
                                                    <input required type="text" class="form-control" id="inputPhone" name="PhoneNumber" value="@Model.User.PhoneNumber" placeholder="Telefon">

                                                </div>
                                                <div class="form-group">
                                                    <label for="inputEmail">E-Posta</label>
                                                    <input required type="email" class="form-control" id="inputEmail" name="Email" value="@Model.User.Email" placeholder="E-Posta">
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputEmail">İl</label>
                                                    <select id="Iller" class="form-control" name="Province">
                                                        <option disabled value="0">İl Seçiniz</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputEmail">İlçe</label>
                                                    <select id="Ilceler" class="form-control" name="District">
                                                        <option disabled value="0">Lütfen Önce bir İl seçiniz</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Adres</label>
                                                    <textarea class="form-control" rows="3" placeholder="Adres Bilginiz..." data-val="true" data-val-required="The Address field is required." id="Address" name="Address">@Model.User.Address</textarea>
                                                </div>
                                                <label for="InputMapHeader">Eczane Konumunuzu Seçin</label>
                                                <input type="hidden" name="Latitude" value="" />
                                                <input type="hidden" name="Longitude" value="" />
                                                @section Scripts{
                                                    <script src="~/scripts/ililce.js" province="@(Model.User.Province ?? "34")" district="@(Model.User.District ?? "")"></script> <!--il-ilçe-script-->
                                                    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8-fa4-gwVuTtkyYeeH1DGATIJBj3dZYk"></script>
                                                    <script>
                                                        var marker;  // Mevcut pin'i depolamak için global değişken.

                                                        function initialize() {
                                                            var mapOptions = {
                                                                //center: new google.maps.LatLng(39.9334, 32.8597),
                                                                center: new google.maps.LatLng(@(Model.User.Latitude ?? "39.9334"), @(Model.User.Longitude ?? "32.8597")),
                                                                zoom: @(string.IsNullOrEmpty(Model.User.Latitude) ? "6" : "16")
                                                                                                                    };

                                                            var map = new google.maps.Map(document.getElementById("googleMap"), mapOptions);

                                                            google.maps.event.addListener(map, 'click', function (event) {
                                                                placeMarker(event.latLng, map);
                                                            });

                                                            let check = "@(Model.User.Latitude ?? "undefined")"
                                                            if (check != "undefined") {
                                                                let initLatLng = new google.maps.LatLng(@(Model.User.Latitude ?? "39.9334"), @(Model.User.Longitude ?? "32.8597"));
                                                                placeMarker(initLatLng, map);
                                                            }
                                                        }

                                                        function placeMarker(location, map) {
                                                            if (marker) {  // Eğer bir marker/pin varsa önce onu kaldır.
                                                                marker.setMap(null);
                                                            }

                                                            marker = new google.maps.Marker({
                                                                position: location,
                                                                map: map
                                                            });

                                                            var latitude = location.lat();
                                                            var longitude = location.lng();
                                                            //alert("Latitude: " + latitude + "\nLongitude: " + longitude);
                                                            //console.table({ latitude, longitude })

                                                            $("input[name='Latitude']").val(latitude);
                                                            $("input[name='Longitude']").val(longitude);
                                                        }

                                                        google.maps.event.addDomListener(window, 'load', initialize);
                                                    </script>
                                                }
                                                <div id="googleMap" style="width:100%;height:500px; margin-bottom:10px;"></div>
                                                <div class="form-group">
                                                    @{
                                                        var pharmacyTypes = new List<string>()
                                                    {
                                                    "Ünite","Cadde","AVM","Semt"
                                                    };
                                                    }
                                                    <label>Eczane Tipi</label>
                                                    <div id="experienceGroup" class="w-100">
                                                        <select class="form-control" id="yilSeciniz" name="PharmacyType" asp-items="@(new SelectList(pharmacyTypes, Model?.User.PharmacyType))" required>
                                                            <option value="" disabled selected>Eczane Tipini Seçiniz</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Çalışan Sayısı
                                                    </label>
                                                    <ul class="categories clearfix uljobs">
                                                        <li>
                                                            @{
                                                                var employeeCount = new List<string>()
                                                            {
                                                            "1","2","3","4","5-10","11-15","16-20","21+"
                                                            };
                                                            }
                                                            <select class="form-control" id="employeecount" name="EmployeeCount" asp-items="@(new SelectList(employeeCount, Model?.User.EmployeeCount))" required>
                                                                <option value="" disabled selected>Kişi Sayısı</option>
                                                            </select>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="card card-primary">
                                            <div class="card-header">
                                                <h3 class="card-title">Eğitim Bilgileri</h3>
                                            </div>
                                            <div class="card-body">
                                                <div class="form-group">
                                                    <label for="inputPhone">Okul İsmi</label>
                                                    <input type="text" class="form-control" name="SchoolName" value="@Model?.User.SchoolName" placeholder="Okul İsmi">
                                                </div>
                                                <div class="form-group">
                                                    @{
                                                        var educationStatuses = new List<string>()
                                                    {
                                                    "Lisans","Yüksek Lisans"
                                                    };
                                                    }
                                                    <label>Öğrenim Durumu</label>
                                                    <select name="Education" class="form-control" name="EducationStatus" asp-items="@(new SelectList(educationStatuses, Model?.User.EducationStatus))" required>
                                                        <option disabled selected>Öğrenim Durumunuz</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="card card-primary">
                                            <div class="card-header">
                                                <h3 class="card-title">Sertifikalar</h3>
                                            </div>
                                            <div class="card-body">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Sertifikalar</label>
                                                    <p style="color:red; font-size:14px;">*Birden fazla sertifika girişi için lütfen sertifikalarınızı alt alta yazınız.</p>
                                                    <textarea class="form-control" rows="5" placeholder="Sertifikalarınız..." data-val="true" data-val-required="The Address field is required." id="Sertifikalar" name="Certificates">@Model?.User.Certificates</textarea>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="card card-primary">
                                            <div class="card-header">
                                                <h3 class="card-title">Açıklama</h3>
                                            </div>
                                            <div class="card-body">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Açıklama</label>
                                                    <textarea class="form-control" rows="8" placeholder="Açıklama..." data-val="true" data-val-required="The Address field is required." id="Sertifikalar" name="Description">@Model?.User.Description</textarea>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <!--Kaydet-->
                                    <div class="form-group" style="    display: flex;
    justify-content: center;">
                                        <button type="submit" style="background-color:#ff2b58; padding:10px 20px;" class="btn btn-danger">Kaydet</button>
                                    </div>
                                </form>
                            </div>
                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="settings">
                                <form class="form-horizontal" method="post" action="/Pharmacy/Account/UpdateProfile">
                                    <input type="hidden" name="RequirePassword" value="1" />
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-2 col-form-label">İsim</label>
                                        <div class="col-sm-10">
                                            <input required minlenght="3" type="text" class="form-control" id="inputName" name="Name" value="@Model.User.Name" placeholder="İsim">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputSurname" class="col-sm-2 col-form-label">Soyisim</label>
                                        <div class="col-sm-10">
                                            <input required type="text" class="form-control" id="inputSurname" name="Surname" value="@Model.User.Surname" placeholder="Soyisim">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputPhone" class="col-sm-2 col-form-label">Telefon</label>
                                        <div class="col-sm-10">
                                            <input required type="text" class="form-control" id="inputPhone" name="PhoneNumber" value="@Model.User.PhoneNumber" placeholder="Telefon">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputEmail" class="col-sm-2 col-form-label">E-Posta</label>
                                        <div class="col-sm-10">
                                            <input required type="email" class="form-control" id="inputEmail" name="Email" value="@Model.User.Email" placeholder="E-Posta">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputCurrentPassword" class="col-sm-2 col-form-label">Geçerli Şifre</label>
                                        <div class="col-sm-10">
                                            <input required type="password" class="form-control" id="inputCurrentPassword" name="CurrentPassword" value="" placeholder="Geçerli Şifre">
                                        </div>
                                    </div>
                                    <!--şifre değiştirme-->
                                    <div id="passwordFields" style="display:none;">
                                        <div class="form-group row">
                                            <label for="inputNewPassword" class="col-sm-2 col-form-label">Yeni Şifre</label>
                                            <div class="col-sm-10">
                                                <input type="password" class="form-control" id="inputNewPassword" name="NewPassword" value="" placeholder="Yeni Şifre">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputNewPasswordRepeat" class="col-sm-2 col-form-label">Yeni Şifre Tekrarı</label>
                                            <div class="col-sm-10">
                                                <input type="password" class="form-control" id="inputNewPasswordRepeat" name="NewPasswordRepeat" value="" placeholder="Yeni Şifre Tekrarı">
                                            </div>
                                        </div>
                                    </div>
                                    <script>
                                        function togglePasswordFields() {
                                            document.getElementById('changePasswordLink').style.display = 'none';

                                            document.getElementById('passwordFields').style.display = 'block';
                                        }
                                    </script>
                                    <div class="form-group row">
                                        <div class="col-sm-2"></div>
                                        <div class="col-sm-10">
                                            <a href="#" id="changePasswordLink" onclick="togglePasswordFields(); return false;" style="color:#ff2b58;">
                                                Şifremi değiştirmek istiyorum
                                            </a>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="offset-sm-2 col-sm-10">
                                            <button type="submit" style="background-color:#ff2b58;" class="btn btn-danger">Güncelle</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
                    </div><!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<style>
    .uljobs {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    select {
        padding: 10px 0;
    }
</style>