@using Domain.Model;
@model ApplicationUser
@{
    ViewData["Title"] = "Profil";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                        <div class="text-center" style="position:relative;">
                            <img class="profile-user-img img-fluid img-circle"
                                 src="~/user/img/user1-128x128.jpg"
                                 alt="User profile picture">
                            <div style="position:absolute; top:0; right:30%;">
                                <i class="fa-solid fa-pen-to-square" style="color:#ff2b58; font-size:21px;"></i>
                            </div>
                        </div>

                        <h3 class="profile-username text-center">@Model.Name @Model.Surname</h3>

                        <p class="text-muted text-center" style="text-transform:capitalize;">@Model.PharmacyName</p>

                        <ul class="list-group list-group-unbordered mb-3">
                            <li class="list-group-item">
                                <b>İlan Sayısı</b> <a class="float-right" style="color:#ff2b58;">10</a>
                            </li>
                            <li class="list-group-item">
                                <b>Toplam Gelen Başvurular</b> <a class="float-right" style="color:#ff2b58;">120</a>
                            </li>
                            <li class="list-group-item">
                                <b>İlanlara Gelen Ortalama Başvurular</b> <a class="float-right" style="color:#ff2b58;">19</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <!-- About Me Box -->
                <div class="card card-primary">
                    <div class="card-header" style="background-color:#ff2b58;">
                        <h3 class="card-title">Eczane Bilgilerim</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <strong><i class="fas fa-book mr-1"></i>Eğitim</strong>

                        <p class="text-muted">
                            Knoxville'deki Tennessee Üniversitesi'nden Bilgisayar Bilimleri alanında lisans derecesi
                        </p>

                        <hr>

                        <strong><i class="fas fa-map-marker-alt mr-1"></i>Adres</strong>
                        <p class="text-muted">GLN Numarası: @Model.GLNCode</p>
                        <p class="text-muted">İstanbul, Kadıköy</p>
                        <p class="text-muted">Telefon: @Model.PhoneNumber</p>
                        <p class="text-muted">E-Posta: @Model.Email</p>
                        <hr>
                        <strong><i class="fas fa-pencil-alt mr-1"></i>Sertifikalar</strong>
                        <p class="text-muted">
                            <span class="tag">Eczacı Odası Üyelik Belgesi</span> <br />
                            <span class="tag">İlaç Depolama ve Ecza Deposu İşletme Yetki Belgesi</span> <br />
                            <span class="tag">Eczane Açma ve İşletme Ruhsatı</span> <br />
                            <span class="tag">İlaç Satış Yetki Belgesi</span> <br />
                            <span class="tag">İlaç Taşıma Belgesi</span>
                        </p>
                        <hr>
                        <strong><i class="far fa-file-alt mr-1"></i> Notlar</strong>
                        <p class="text-muted">Buraya notlar gelecek...</p>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills">
                            <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Genel</a></li>
                            <li class="nav-item"><a class="nav-link" href="#pharmacyinfo" data-toggle="tab">Eczane Bilgileri</a></li>
                            <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Ayarlar</a></li>
                        </ul>
                    </div><!-- /.card-header -->
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="active tab-pane" id="activity">
                                <!-- Post -->
                                <div class="post">
                                    <div class="user-block">
                                        <img class="img-circle img-bordered-sm" src="~/user/img/user1-128x128.jpg" alt="user image">
                                        <span class="username">
                                            <a href="#" style="color:#ff2b58; text-transform:capitalize;">@Model.Name @Model.Surname</a>
                                            @*<a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>*@
                                        </span>
                                      
                                    </div>
                                    <!-- /.user-block -->
                                    <p style="white-space: pre-wrap; word-wrap: break-word; word-break: break-all; overflow-wrap: break-word;">
                                        @(@"

                                        Maslak Eczanesi olarak, deneyimli ve özverili bir kalfa arıyoruz. Siz de büyüyen ve saygın eczane ekibimizin bir parçası olmak isterseniz, başvurunuz bizim için değerlidir.

                                        Adaylardan Beklenenler:

                                        * En az 2 yıl eczane kalfa deneyimi.
                                        * İlaç hazırlama, stok kontrolü, ve reçetelerin doğru bir şekilde işlenmesi konularında yetenek.
                                        * Hasta memnuniyetine odaklanma ve etkili iletişim becerileri.
                                        * Eczane ekip üyeleri ve müşterilerle profesyonel bir şekilde etkileşimde bulunabilme yeteneği.
                                        * Eczane yönetimi ve ilaçların güvenli bir şekilde saklanması konularında gerekli bilgi ve becerilere sahip olma.
                                        * Dikkatli, düzenli ve titiz çalışma alışkanlığı.
                                        * Hızlı tempoda çalışabilme yeteneği.
                                        * Bizimle Çalışmanın Avantajları:

                                        * Rekabetçi maaş ve yan haklar.
                                        * Profesyonel gelişim fırsatları ve eğitimler.
                                        * Güvenli ve dostça bir çalışma ortamı.
                                        * Sağlık ve hastalık izni gibi çalışanların refahını destekleyen avantajlar.
                                        * Başvuru Prosedürü:
                                        * Başvurunuzu aşağıdaki iletişim bilgileri üzerinden bize ulaştırabilirsiniz:

                                        E-posta: iletisim@maslakeczanesi.com
                                        Telefon: (212) 123-4567
                                        Lütfen başvurunuzda güncel bir özgeçmiş ve referanslarınızı da eklemeyi unutmayın. Maslak Eczanesi olarak, ekibimize katılacak deneyimli bir kalfa arayışımızı sabırsızlıkla bekliyoruz. Siz de bu fırsatı kaçırmamak için başvurun!

                                        ")
                                    </p>

                                    @*    <p>
                                    <a href="#" class="link-black text-sm mr-2"><i class="fas fa-share mr-1"></i> 15 Paylaşım</a>
                                    <a href="#" class="link-black text-sm"><i class="far fa-thumbs-up mr-1"></i> 23 Beğeni</a>
                                    <span class="float-right">
                                    <a href="#" class="link-black text-sm">
                                    <i class="far fa-comments mr-1"></i> Yorumlar (5 adet)
                                    </a>
                                    </span>
                                    </p> *@

                                    @*<input class="form-control form-control-sm" type="text" placeholder="Yorum bırak">*@
                                </div>
                                <!-- /.post -->
                            </div>
                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="pharmacyinfo">
                                <form class="form-horizontal" method="post" action="/Pharmacy/Account/UpdateProfile">
                                    <div class="col-md-12">
                                        <div class="card card-primary">
                                            <div class="card-header">
                                                <h3 class="card-title">Bilgiler</h3>
                                            </div>
                                            <div class="card-body">
                                                <div class="form-group">
                                                    <label for="inputName">Eczacı Adı:</label>
                                                    <input required minlenght="3" type="text" class="form-control" id="inputName" name="Name" value="@Model.Name" placeholder="Eczacı Adı">

                                                </div>
                                                <div class="form-group">
                                                    <label for="inputSurname">Eczacı Soyadı:</label>
                                                    <input required type="text" class="form-control" id="inputSurname" name="Surname" value="@Model.Surname" placeholder="Eczacı Soyadı">
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputPhone">Telefon</label>
                                                    <input required type="text" class="form-control" id="inputPhone" name="PhoneNumber" value="@Model.PhoneNumber" placeholder="Telefon">

                                                </div>
                                                <div class="form-group">
                                                    <label for="inputEmail">E-Posta</label>
                                                    <input required type="email" class="form-control" id="inputEmail" name="Email" value="@Model.Email" placeholder="E-Posta">
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputEmail">İl</label>
                                                    <select id="Iller" class="form-control" name="Province">
                                                        <option disabled value="0">İl Seçiniz</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputEmail">İlçe</label>
                                                    <select id="Ilceler" class="form-control" name="District">
                                                        <option disabled value="0">Lütfen Önce bir İl seçiniz</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Adres</label>
                                                    <textarea class="form-control" rows="3" placeholder="Adres Bilginiz..." data-val="true" data-val-required="The Address field is required." id="Address" name="Address"></textarea>
                                                </div>
                                                <style>
                                                    select {
                                                        padding: 10px 0;
                                                    }
                                                </style>
                                                <script src="~/scripts/ililce.js" province="34" district="1"></script> <!--il-ilçe-script-->
                                                <div class="form-group">
                                                    <label>Eczane Tipi</label>
                                                    <div id="experienceGroup" class="w-100">
                                                        <select class="form-control" id="yilSeciniz">
                                                            <option value="" disabled selected>Eczane Tipini Seçiniz</option>
                                                            <option value="1">Ünite</option>
                                                            <option value="2">Cadde</option>
                                                            <option value="3">AVM</option>
                                                            <option value="4">Semt</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Çalışan Sayısı
                                                    </label>
                                                    <ul class="categories clearfix uljobs">
                                                        <li>
                                                            <select class="form-control" id="employeecount">
                                                                <option value="" disabled="" selected="">Kişi Sayısı</option>
                                                                <option value="1">1</option>
                                                                <option value="1">2</option>
                                                                <option value="1">3</option>
                                                                <option value="1">4</option>
                                                                <option value="1">5-10</option>
                                                                <option value="1">11-15</option>
                                                                <option value="1">16-20</option>
                                                                <option value="1">21+</option>

                                                            </select>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="card card-primary">
                                            <div class="card-header">
                                                <h3 class="card-title">Eğitim Bilgileri</h3>
                                            </div>
                                            <div class="card-body">
                                                <div class="form-group">
                                                    <label for="inputPhone">Okul İsmi</label>
                                                    <input type="text" class="form-control" name="Education" value="" placeholder="Okul İsmi">
                                                </div>
                                                <div class="form-group">
                                                    <label>Öğrenim Durumu</label>
                                                    <select name="Education" class="form-control">
                                                        <option disabled selected>Öğrenim Durumunuz</option>
                                                        <option>Lisans</option>
                                                        <option>Yüksek Lisans</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="card card-primary">
                                            <div class="card-header">
                                                <h3 class="card-title">Sertifikalar</h3>
                                            </div>
                                            <div class="card-body">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Sertifikalar</label>
                                                    <p style="color:red; font-size:14px;">*Birden fazla sertifika girişi için lütfen sertifikalarınızı alt alta yazınız.</p>
                                                    <textarea class="form-control" rows="5" placeholder="Sertifikalarınız..." data-val="true" data-val-required="The Address field is required." id="Sertifikalar" name="Sertifikalar"></textarea>
                                                </div>
                                             
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="card card-primary">
                                            <div class="card-header">
                                                <h3 class="card-title">Açıklama</h3>
                                            </div>
                                            <div class="card-body">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Açıklama</label>
                                                    <textarea class="form-control" rows="8" placeholder="Açıklama..." data-val="true" data-val-required="The Address field is required." id="Sertifikalar" name="Description"></textarea>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <!--Kaydet-->
                                    <div class="form-group">
                                        <button type="submit" style="background-color:#ff2b58;" class="btn btn-danger">Kaydet</button>
                                    </div>
                                </form>
                            </div>
                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="settings">
                                <form class="form-horizontal" method="post" action="/Pharmacy/Account/UpdateProfile">
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-2 col-form-label">İsim</label>
                                        <div class="col-sm-10">
                                            <input required minlenght="3" type="text" class="form-control" id="inputName" name="Name" value="@Model.Name" placeholder="İsim">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputSurname" class="col-sm-2 col-form-label">Soyisim</label>
                                        <div class="col-sm-10">
                                            <input required type="text" class="form-control" id="inputSurname" name="Surname" value="@Model.Surname" placeholder="Soyisim">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputPhone" class="col-sm-2 col-form-label">Telefon</label>
                                        <div class="col-sm-10">
                                            <input required type="text" class="form-control" id="inputPhone" name="PhoneNumber" value="@Model.PhoneNumber" placeholder="Telefon">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputEmail" class="col-sm-2 col-form-label">E-Posta</label>
                                        <div class="col-sm-10">
                                            <input required type="email" class="form-control" id="inputEmail" name="Email" value="@Model.Email" placeholder="E-Posta">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="offset-sm-2 col-sm-10">
                                            <div class="checkbox">
                                                <label>
                                                    <input required type="checkbox"> <a href="#" style="color:#ff2b58;">Şartlar ve koşullar</a>'ı kabul ediyorum.
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="offset-sm-2 col-sm-10">
                                            <button type="submit" style="background-color:#ff2b58;" class="btn btn-danger">Güncelle</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
                    </div><!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<style>
    .uljobs {
        list-style: none;
        margin: 0;
        padding: 0;
    }
</style>