@using Core.Helper;
@using WebUI.Areas.Pharmacy.Models.ViewModels;
@model ApplicantProfileVM
@{
    ViewData["Title"] = "Gelen Başvuru Profili";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                        <div class="text-center">
                            <img id="file-result" src="@(Url.Content(UserHelper.UserPhotoOrDefault(Model.User.PhotoPath)))" height="150px;" style="border:3px solid #ff2b58; border-radius:50%; height: 150px; width: 150px;" />
                        </div>
                        <h3 class="profile-username text-center">@Model?.User?.Name @Model?.User?.Surname</h3>
                        <ul class="list-group list-group-unbordered mb-3">
                            <li class="list-group-item">
                                <b>Toplam Başvuruları</b> <a class="float-right" style="color:#ff2b58;">100</a>
                            </li>
                            @*  <li class="list-group-item">
                            <b>Beğeni</b> <a class="float-right" style="color:#ff2b58;">1,322</a>
                            </li>
                            <li class="list-group-item">
                            <b>Yorum</b> <a class="float-right" style="color:#ff2b58;">543</a>
                            </li> *@
                        </ul>
                    </div>
                </div>
                <div class="card card-primary">
                    <div class="card-header" style="background-color:#ff2b58;">
                        <h3 class="card-title">Kişisel Bilgiler</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <strong><i class="fas fa-book mr-1"></i>Eğitim</strong>

                        <p class="text-muted">
                            @(Model?.User?.SchoolName ?? "Belirtilmedi") @(string.IsNullOrEmpty(Model?.User?.EducationStatus) ? "" : $"- {Model?.User?.EducationStatus}")
                        </p>
                        <hr>
                        <strong><i class="fas fa-map-marker-alt mr-1"></i>Adres</strong>
                        <p class="text-muted"><b>Konum:</b> @ProvinceHelper.GetProvinceName(Convert.ToInt32(Model.User.Province)), @Model.User.District</p>
                        <hr>
                        <strong><i class="fas fa-pencil-alt mr-1"></i>Alınan Eğitimler / Sertifikalar</strong>
                        <p class="text-muted">
                            <span class="tag">@Model?.Resume?.EducationsAndCertificates</span> <br />
                        </p>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <div class="col-md-9">
                <div class="card">
                    @* <div class="card-header p-2">
                        <ul class="nav nav-pills">
                            <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Kullanıcı Bilgileri</a></li>
                        </ul>
                    </div> *@
                    <div class="card-body" style="padding-top:10px !important;">
                        <div class="tab-content">
                            <div class="active tab-pane" id="activity">
                                <div class="post">
                                    <h3><b>Başvuran Hakkında</b></h3>
                                        <p style="word-wrap: break-word; word-break: break-all; overflow-wrap: break-word;">
                                        @Model?.Resume?.Description
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>