@using Core.Helper;
@using System.Globalization;
@using WebUI.Areas.Pharmacy.Models.ViewModels;
@model ApplicantProfileVM
@{
    ViewData["Title"] = "Gelen Başvuru Profili";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                        <div class="text-center">
                            <img id="file-result" src="@(Url.Content(UserHelper.UserPhotoOrDefault(Model.User.PhotoPath)))" height="150px;" style="border:3px solid #ff2b58; border-radius:50%; height: 150px; width: 150px;" />
                        </div>
                        <h3 class="profile-username text-center">@Model?.User?.Name @Model?.User?.Surname</h3>
                        <ul class="list-group list-group-unbordered mb-3">
                            @if (Model?.User?.BirthDate != null)
                            {
                                <li class="list-group-item">
                                    <b>Doğum Tarihi:</b> <a class="float-right" style="color:#ff2b58;">
                                        @Model?.User?.BirthDate.ToString("dd MMMM yyyy", CultureInfo.CreateSpecificCulture("tr-TR"))
                                    </a>
                                </li>
                            }
                            @if (Model?.Apply?.ApplyDate != null)
                            {
                                <li class="list-group-item">
                                    <b>Başvuru Tarihi:</b> <a class="float-right" style="color:#ff2b58;">
                                        @Model?.Apply?.ApplyDate.ToString("dd MMMM yyyy", CultureInfo.CreateSpecificCulture("tr-TR"))
                                    </a>
                                </li>
                            }
                            @if (!string.IsNullOrEmpty(Model?.User?.PhoneNumber))
                            {
                                <li class="list-group-item">
                                    <b>Telefon Numarası:</b> <a href="tel:@Model?.User?.PhoneNumber" class="float-right" style="color:#ff2b58;">
                                        @Model?.User?.PhoneNumber
                                    </a>
                                </li>
                            }
                            @if (!string.IsNullOrEmpty(Model?.User?.Email))
                            {
                                <li class="list-group-item">
                                    <b>E-Posta Adresi:</b> <a href="mailto:@Model?.User?.Email" class="float-right" style="color:#ff2b58;">
                                        @Model?.User?.Email
                                    </a>
                                </li>
                            }
                            @if (!string.IsNullOrEmpty(Model?.User?.Address))
                            {
                                <li class="list-group-item">
                                    <b>Açık Adresi:</b> <a class="float-right" style="color:#ff2b58;">
                                        @Model?.User?.Address
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body" style="padding-top:10px !important;">
                        <div class="tab-content">
                            <div class="active tab-pane" id="activity">
                                <div class="post">
                                    <h3><b>Başvuran Hakkında</b></h3>
                                    <p style="word-wrap: break-word; word-break: break-all; overflow-wrap: break-word;">
                                        @Model?.Resume?.Description
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-9">
                <div class="card card-primary">
                    <div class="card-header" style="background-color:#ff2b58;">
                        <h3 class="card-title">Kişisel Bilgiler</h3>
                    </div>
                    <div class="card-body">
                        <strong><i class="fas fa-book mr-1"></i>Eğitim</strong>
                        <p class="text-muted">
                            @(Model?.Resume?.SchoolName ?? "Belirtilmedi") @(string.IsNullOrEmpty(Model?.Resume?.EducationStatus) ? "" : $"- {Model?.Resume?.EducationStatus}")
                        </p>
                        <hr>
                        <strong><i class="fas fa-map-marker-alt mr-1"></i>Adres</strong>
                        <p class="text-muted"><b>Konum:</b> @ProvinceHelper.GetProvinceName(Convert.ToInt32(Model.User.Province)), @Model.User.District</p>
                        <hr>
                        <strong><i class="fas fa-pencil-alt mr-1"></i>Alınan Eğitimler / Sertifikalar</strong>
                        <p class="text-muted">
                            <span class="tag" style="display: table-caption;">@Model?.Resume?.EducationsAndCertificates</span>
                        </p>
                        <hr>
                        <strong><i class="fa-solid fa-prescription-bottle-medical mr-1"></i>Referans Eczaneler</strong>
                        <p class="text-muted">

                            <span class="tag" style="display: table-caption;">
                                @foreach (var item in Model?.Resume?.ReferencePharmacies)
                                {
                                    @item.PharmacyName
                                }
                            </span>
                        </p>
                        <hr>
                        <strong><i class="fa-solid fa-language mr-1"></i>Yabancı Dil Bilgisi</strong>
                        <p class="text-muted">

                            <span class="tag" style="display: table-caption;">
                                @foreach (var item in Model?.Resume?.ForeignLanguages)
                                {
                                    @item.LanguageName
                                }
                            </span>
                        </p>
                        <hr>
                        <strong><i class="fa-regular fa-calendar mr-1"></i>Deneyim Yılı</strong>
                        <p class="text-muted">@Model?.Resume.WorkExperience</p>
                        <hr>
                        <strong><i class="fa-regular fa-file mr-1"></i>CV</strong>
                        <p class="text-muted">
                            <a href="@($"/Resources/ResumeFiles/{Model?.Resume.ResumeFilePath}")" target="_blank">CV Dosyasını İndir</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>