@using Domain.Model;
@using System.Globalization;
@model List<Advert>
@{
    ViewData["Title"] = "İlan Listesi";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="card" style="background-color:transparent; border:none; box-shadow:none;">
                    <div class="card-body">
                        @foreach (var item in Model)
                        {
                            @* firma foto - ilan ismi - eczane ismi - ilan başlığı - ilan silme *@
                            <div class="row mb-3" style="background-color:white; padding: 10px 20px; position:relative;">
                                <div class="col-md-4" style="display: flex; flex-direction: column; justify-content: center; height: 100%;">

                                    <!-- Tarih kısmını ortalamak için değişiklik -->
                                    <div style="background-color:#ff2b58; width:fit-content; padding:3px 5px;">
                                        <h3 style="font-size:18px; margin:0; color:white;">@item.CreateDate.ToString("dd MMMM", CultureInfo.CreateSpecificCulture("tr-TR"))</h3>
                                    </div>
                                    <!-- Resim ve Overlay kısmını dikey olarak ortalamak için height kullanılır -->
                                    <div class="pharmacylistp">
                                        <div style="display:flex; justify-content:center; align-items: center; padding:5px 0;">
                                            <img src="~/images/logoadvert.png" alt="Profile Picture">
                                        </div>

                                        <div class="overlay-style-one" style="display:flex; justify-content:center; align-items: center;">
                                            <div class="box">
                                                <div class="content">
                                                    <div style="background-color:#ff2b58; padding:5px; height:40px;">
                                                        <span style="color:white; font-size:19px; font-weight:bold; text-transform:capitalize;">@item.ApplicationUser.PharmacyName</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8 padding:0; border:2px solid black;">
                                    <div class="d-flex align-items-center titledescriptionmobilemargintop">
                                        <div class="w-100 ">
                                            <div>
                                                <h3>@item.Title</h3>
                                                <p style="min-height: 134px;">@item.Description</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="padding:10px 0;">
                                        <span><span style="font-weight:bold;">Sahibi: </span> @item.ApplicationUser.Name <br /> 
                                        <span style="font-weight:bold;">Kategori: </span>@item.Type.GetDescription()</span>
                                        <div style="float:right;">
                                                <a href="/JobAdvert/Detail/@item.Id">
                                                    <span style=" padding:5px 10px; background: #ff2b58; color: #fff;">
                                                        İlanı Gör
                                                    </span>
                                                </a>
                                        </div>
                                        @if (item.IsBoosted == false)
                                        {
                                            <div style="float:right;" class="mx-3">
                                                <a href="/PayTR/Buy?proc=boost&advertId=@item.Id">
                                                    <span style=" padding:5px 10px; background: #ff2b58; color: #fff;">
                                                        İlanı Öne Çıkar
                                                    </span>
                                                </a>
                                            </div>
                                        }
                                    </div>
                                </div>

                                <div style="position:absolute; top:10px; right:20px;">
                                    <a href="#" data-advertid="@item.Id" data-toggle="modal" data-target="#confirmationModal">
                                        <i class="fa-regular fa-circle-xmark" style="color:red; font-size:25px;"></i>
                                    </a>
                                </div>

                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <form method="post" action="/Pharmacy/Advert/Passive">
                        <input id="modalAdvertId" type="hidden" name="id" value="" />
                        <div class="modal-body text-center" style="margin:30px 0;">
                            <h5 style="color:black !important; margin-bottom:20px;">İlanınız Silinecek, Emin misiniz?</h5>
                            <button type="submit" class="btn btn-success" style="margin-right:20px;">Evet</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Hayır</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        @section Scripts {
            <script>
                $('#confirmationModal').on('show.bs.modal', function (event) {
                    let id = event.relatedTarget.dataset.advertid;
                    $('#modalAdvertId').val(id)
                });
            </script>
        }

    </div>
</section>

<style>
    .advertbg {
        background-color: White;
        padding: 10px 20px;
        min-height: 170px;
    }

        .advertbg .d-flex.justify-content-center > div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
        }

        .advertbg:hover {
            background-color: #ff708e;
        }

            .advertbg:hover > * {
                color: white !important;
            }

            .advertbg:hover i::before {
                color: white !important;
            }

    .tooltip {
        position: relative;
        display: inline-block;
    }

        .tooltip:hover .tooltiptext {
            visibility: visible;
            opacity: 1;
        }

    .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: 125%; /* Tooltip'i ikonun üzerinde göstermek için */
        left: 50%;
        margin-left: -60px; /* Tooltip'in genişliğinin yarısı kadar sola kaydır */
        opacity: 0;
        transition: opacity 0.3s;
    }

    .tooltip .tooltiptext::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }

</style>


