@using Core.Helper;
@using Domain.Model;
@using System.Globalization;
@model Advert


@if (Model != null)
{
    <div class="item" style="margin:0 10px;">
        <div class="single-blog-post">
            <div class="img-holder" style="display:flex; justify-content:center;">
                <img src="images/logoadvert.png" alt="İlan Fotoğrafı" style="margin-top:50px;">
                <div class="published-date" style="top:0; left:0;">
                    <h3>@Model.CreateDate.ToString("dd MMMM", CultureInfo.CreateSpecificCulture("tr-TR"))</h3>
                </div>
                <div class="overlay-style-one">
                </div>
            </div>
            <div class="text-holder">
                <a href="@Url.Action("Detail", "JobAdvert", new { id = Model.Id })">
                    <h3 class="blog-title text-center">@Model.Title</h3>
                </a>
                <div class="text">
                    <p>@Model.Description</p>
                </div>
                <div class="meta-info clearfix" style="margin-left:0;">
                    <div class="left pull-left">
                        <ul class="post-info">
                            <li style="border:none; padding-bottom:3px;"><b>İlan Sahibi: </b>@Model.ApplicationUser?.Name @Model.ApplicationUser?.Surname</li>
                            <li><b>Konum: </b>@(ProvinceHelper.GetProvinceName(Convert.ToInt32(Model.ApplicationUser?.Province ?? "1"))), @Model.ApplicationUser?.District</li>
                        </ul>
                    </div>
                    @*   <div class="right pull-right">
                <a class="post-share" href="#">
                <i class="fa fa-share-alt" aria-hidden="true"></i>
                </a>
                </div> *@
                </div>
            </div>
        </div>
    </div>
}