@using Core.Services;
@using DataAccess.Context;
@using Domain.Model;
@using Microsoft.AspNetCore.Identity;

@inject UserManager<ApplicationUser> _userManager
@inject DbService _dbService

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- For IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Farma Kariyer</title>

    <!-- master stylesheet -->
    <link rel="stylesheet" href="~/css/style.css">
    <!-- Responsive stylesheet -->
    <link rel="stylesheet" href="~/css/responsive.css">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="~/images/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="~/images/favicon/favicon-16x16.png" sizes="16x16">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--jquery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.js"
            integrity="sha512-8Z5++K1rB3U+USaLKG6oO8uWWBhdYsM3hmdirnOEWp8h2B1aOikj5zBzlXs8QOrvY9OxEnD2QDkbSKKpfqcIWw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!--font family-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css" integrity="sha256-sWZjHQiY9fvheUAOoxrszw9Wphl3zqfVaz1kZKEvot8=" crossorigin="anonymous">

</head>

<body>
    <!--header start-->
    <div class="boxed_wrapper">
        <!--Start Preloader -->
        @* <div class="preloader"></div> -----------------------------pre-loader---------------------------*@
        <!--End Preloader -->
        <!--Start Top bar area -->
        <section class="top-bar-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        <div class="top-info">
                            <ul>
                                <li>
                                    <span class="icon-signs"></span>Merkez/ Yalova, İstanbul
                                </li>
                                <li>
                                    <span class="icon-clock"></span>Pazartesi-Cuma: 09.00 - 18.00
                                    Cumartesi ve Pazar: Kapalı
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Top bar area -->
        <!--Start header area-->
        <header class="header-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12" style="padding:0;">
                        <div class="logo" style="height:100px; display: flex;
    justify-content: center;">
                            <a href="@Url.Action("Index","Home")"><img src="~/images/logo1.png" alt="kodeforest" style="height:100px;"></a>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6 col-sm-12 col-xs-12" style="padding:0;">
                        <div class="text-center scrollstyle">
                            <div id="scroll-container">
                                <div id="scroll-text">
                                    İlk ve tek eczaneler arası kariyer platformu <span style="font-weight: bold; color:red;">
                                        FarmaKariyer
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                        <div class="top-social-links">
                            <ul>
                                <li><a target="_blank" href="https://facebook.com/farmakariyer"><i class="fa-brands fa-facebook-f"></i></a></li>
                                <li><a target="_blank" href="https://youtube.com/farmakariyer"><i class="fa-brands fa-youtube"></i></a></li>
                                <li><a target="_blank" href="https://x.com/farmakariyer"><i class="fa-brands fa-x-twitter"></i></a></li>
                                <li><a target="_blank" href="https://linkedin.com/in/farmakariyer"><i class="fa-brands fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!--End header area-->
        <!--Start mainmenu area-->
        <section class="mainmenu-area stricky">
            <div class="container">
                <div class="mainmenu-bg">
                    <div class="row">
                        <div class="col-md-10 col-sm-8 col-xs-12">
                            <!--Start mainmenu-->
                            <nav class="main-menu">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <div class="navbar-collapse collapse clearfix">
                                    <ul class="navigation clearfix">
                                        <li class="home current"><a href="@Url.Action("Index","Home")"><span class="fa fa-home"></span></a></li>
                                        <li class="dropdown">
                                            <a href="#">İlanlar</a>
                                            <ul>
                                                <li id="mainMenuItem">
                                                    <a style="display: flex; justify-content: space-between;" href="@Url.Action("Technician", "JobAdvert")">
                                                        Teknisyen İlanları
                                                        <i class="fa-solid fa-angle-right" style="line-height:20px;"></i>
                                                    </a>
                                                    <div id="subMenu">
                                                        <a href="@Url.Action("Dermocosmetic", "JobAdvert")" class="submenuder">Dermokozmetik Elemanı</a>
                                                    </div>
                                                </li>

                                                <li><a href="@Url.Action("Intern","JobAdvert")">Stajyer İlanları</a></li>
                                                <li><a href="@Url.Action("License","JobAdvert")">Ruhsat İlanları</a></li>
                                                <li><a href="@Url.Action("OtherAds","JobAdvert")">Diğer İlanlar</a></li>

                                            </ul>
                                        </li>
                                        @*   <li class="dropdown"><a href="@Url.Action("OurPartners","Home")">Partner</a></li> *@
                                        <li class="dropdown"><a href="@Url.Action("Faq","Home")">SSS</a></li>
                                        <li class="dropdown"><a href="@Url.Action("AboutUs","Home")">Hakkımızda</a></li>
                                        <li class="dropdown"><a href="@Url.Action("Contact","Home")">İLETİŞİM</a></li>
                                    </ul>
                                </div>
                            </nav>

                            <!--End mainmenu-->
                            <!--Start search box-->
                            <!--End search box-->
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="free-consulation-button pull-right">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    var user = await _dbService.GetSessionUser(User);

                                    if (user != null)
                                    {
                                        if (user.Type == ApplicationUserType.USER)
                                        {
                                            <a class="thm-btn bg-clr1" href="/User/Account/Profile">Profil</a>
                                        }
                                        else if (user.Type == ApplicationUserType.PHARMACY)
                                        {
                                            <a class="thm-btn bg-clr1" href="/Pharmacy/Account/Profile">Profil</a>
                                        }
                                    }
                                }
                                else
                                {
                                    <a class="thm-btn bg-clr1" href="@Url.Action("LoginUser", "Account")">Giriş Yap / Üye Ol</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End mainmenu area-->
        @RenderBody()


        <!--footer start-->
        <!--Start footer area-->
        <footer class="footer-area" style="background-image:url(~/images/widget-bgb.jpg);">
            <div class="footer-top-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="footer-top-content">
                                <div class="title pull-left">
                                    <h3>Sorular ve işbirliği için bize ulaşın</h3>
                                </div>
                                <div class="button pull-right">
                                    <a class="thm-btn bg-clr1" href="/Home/Contact#contact_referer">Bize Ulaşın</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <!--Start single footer widget-->
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="single-footer-widget pd-bottom">
                            <div class="footer-logo">
                                <a href="index.html">
                                    <img src="~/images/logo1.png" alt="Awesome Footer Logo">
                                </a>
                            </div>
                            <div class="our-info">
                                <p>20.000'den fazla eczane, 100.000'den fazla çalışan <span style="font-weight: bold; color:red;">FarmaKariyer</span>'de</p>
                            </div>
                        </div>
                    </div>
                    <!--End single footer widget-->
                    <!--Start single footer widget-->
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="single-footer-widget wedo pd-left pd-bottom">
                            <div class="title">
                                <h3>Hızlı Linkler</h3>
                            </div>
                            <ul class="we-do-list">
                                <li><a href="#">İlanlarımız</a></li>
                                @*   <li><a href="#">Partnerlerimiz</a></li> *@
                                <li><a href="#">Hakkımızda</a></li>
                                <li><a href="#">İletişim</a></li>
                                <li><a href="#">SSS</a></li>
                            </ul>
                        </div>
                    </div>
                    <!--Start single footer widget-->
                    <!--Start single footer widget-->
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="single-footer-widget">
                            <div class="title">
                                <h3>Politikalar</h3>
                            </div>
                            <ul class="we-do-list">
                                <li><a href="#">Gizlilik Politikası</a></li>
                                <li><a href="#">Çerez Politikası</a></li>
                                <li><a href="#">İletişim Bilgileri</a></li>
                                <li><a href="#">Güvenlik Politikası</a></li>
                            </ul>
                        </div>
                    </div>
                    <!--End single footer widget-->
                    <!--Start single footer widget-->
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="single-footer-widget pd-top pd-left">
                            <div class="title">
                                <h3>Bize Ulaş</h3>
                            </div>
                            <ul class="footer-contact-info">
                                <li>
                                    <div class="icon-holder">
                                        <span class="icon-world"></span>
                                    </div>
                                    <div class="text-holder">
                                        <p>Merkez/ Yalova, İstanbul</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon-holder">
                                        <span class="icon-technology-1"></span>
                                    </div>
                                    <div class="text-holder">
                                        <a href="tel:+905347901987">
                                            <p>Telefon : 0 (534) 790 19 87</p>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon-holder">
                                        <span class="icon-letter-1 bottom-envelop"></span>
                                    </div>
                                    <div class="text-holder">
                                        <a href="mailto://info@farmakariyer.net">
                                            <p>info@farmakariyer.net</p>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                            <ul class="footer-social-links">
                                <li><a href="https://facebook.com/farmakariyer"><i class="fa-brands fa-facebook-f"></i></a></li>
                                <li><a href="https://youtube.com/farmakariyer"><i class="fa-brands fa-youtube"></i></a></li>
                                <li><a href="https://x.com/farmakariyer"><i class="fa-brands fa-x-twitter"></i></a></li>
                                <li><a href="https://linkedin.com/in/farmakariyer"><i class="fa-brands fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!--End single footer widget-->
                </div>
            </div>
        </footer>
        <!--End footer area-->
        <!--Start footer bottom area-->
        <section class="footer-bottom-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="footer-bottom">
                            <div class="copyright-text" style="text-align:center;">
                                <p>Copyrights © 2024 Tüm Hakları Saklıdır. <a href="#">FarmaKariyer </a><span style="margin-right:0 5px;"></span><a href="#" style="color:white;">Cloudnoyo</a></p>
                            </div>
                            @*    <div class="footer-menu pull-right">
                            <ul>
                            <li><a href="#">Legal</a></li>
                            <li><a href="#">Sitemap</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms & Condition</a></li>
                            </ul>
                            </div> *@
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End footer bottom area-->
        <!--Scroll to top-->
        <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>


        <!--Scroll to top-->
        <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>
    </div>



    <!--footer end-->

    <!-- main jQuery -->
    <script src="~/js/jquery-1.11.1.min.js"></script>

    <!-- bootstrap -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- bx slider -->
    <script src="~/js/jquery.bxslider.min.js"></script>
    <!-- count to -->
    <script src="~/js/jquery.countTo.js"></script>
    <!-- owl carousel -->
    <script src="~/js/owl.carousel.min.js"></script>
    <!-- validate -->
    <script src="~/js/validation.js"></script>
    <!-- mixit up -->
    <script src="~/js/jquery.mixitup.min.js"></script>
    <!-- easing -->
    <script src="~/js/jquery.easing.min.js"></script>
    <!-- gmap helper -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHzPSV2jshbjI8fqnC_C4L08ffnj5EN3A"></script>
    <!--gmap script-->
    <script src="~/js/gmaps.js"></script>
    <script src="~/js/map-helper.js"></script>
    <!-- fancy box -->
    <script src="~/js/jquery.fancybox.pack.js"></script>
    <script src="~/js/jquery.appear.js"></script>
    <!-- isotope script-->
    <script src="~/js/isotope.js"></script>
    <script src="~/js/jquery.prettyPhoto.js"></script>
    <script src="~/js/jquery.bootstrap-touchspin.js"></script>
    <!-- jQuery timepicker js -->
    <script src="~/assets/timepicker/timePicker.js"></script>
    <!-- Bootstrap select picker js -->
    <script src="~/assets/bootstrap-sl-1.12.1/bootstrap-select.js"></script>
    <!-- Bootstrap bootstrap touchspin js -->
    <!-- jQuery ui js -->
    <script src="~/assets/jquery-ui-1.11.4/jquery-ui.js"></script>
    <!-- Language Switche  -->
    <script src="~/assets/language-switcher/jquery.polyglot.language.switcher.js"></script>
    <!-- Html 5 light box script-->
    <script src="~/assets/html5lightbox/html5lightbox.js"></script>
    <!--owl-carousel-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <!-- revolution slider js -->
    <script src="~/assets/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/assets/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script src="~/assets/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="~/assets/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="~/assets/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="~/assets/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="~/assets/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="~/assets/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="~/assets/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="~/assets/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="~/assets/revolution/js/extensions/revolution.extension.video.min.js"></script>


    <!-- thm custom script -->
    <script src="~/js/custom.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js" integrity="sha256-t0FDfwj/WoMHIBbmFfuOtZv1wtA977QCfsFR3p1K4No=" crossorigin="anonymous"></script>
    @await Html.PartialAsync("_NotificationPartial")
    <script>
        $(document).ready(function () {

            $("#owl-demo").owlCarousel({
                navigation: true,
                items: 1,
                loop: true,
                nav: false,
                dots: false
            });

        });
    </script>
    @await RenderSectionAsync("Scripts", false)
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/6537f257a84dd54dc484bd28/1hdh8l9q3';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
</body>
</html>